@model List<EsselTestLocalApplication.Models.Accounts.GeneralPayment>
<div class="table-responsive">
    <table id="tblApprovegenPayGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr>
                <th></th>
                <th class="hidden">BankTransactionRefNo</th>
                <th>Cost Center Code</th>
                <th>Account Head</th>
                <th>SubAccount Head</th>
                <th>Amount</th>
                <th class="hidden">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="details-control"></td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.BankTransactionRefNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CCCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DCACode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubDcaCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionAmount)
                    </td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
    
</div>
<script>
       var openRows = new Array();
        $(document).ready(function () {
            var ApproveGenGrid = null;
            InitializeApprGenGrid();
              var Sessioncreated = '@Session["Createdby"]';
            $("#txtAppGenCreatedby").val(Sessioncreated);
            var Sessionroleid = '@Session["Roleid"]';
            $("#roleid").val(Sessionroleid);
          //  alert($("#roleid").val() + "-"+Sessionroleid);
        });
    function InitializeApprGenGrid() {
        ApproveGenGrid = $('#tblApprovegenPayGrid').DataTable({
            info: false,
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            pagingType: false,  
                language: {
                    "emptyTable": "No Records Found"
                },
            "createdRow": function (row, data, index) {              
                    var oldstatus = $('td:eq(6)', row).html();
                    if (oldstatus == 1) {
                        $('td:eq(6)', row).html("Verification Pending");
                    }
                    else { $('td:eq(6)', row).html("Return");}
                },
                pageLength: 10
            });
        $('#tblApprovegenPayGrid tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
            var row = ApproveGenGrid.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // close all previously opened rows
                    closeOpenedRows(ApproveGenGrid, tr);
                    // Open this row
                    row.child(formatHoldPay(row.data())).show();
                    tr.addClass('shown');
                    // store current selection
                    openRows.push(tr);
                }
            });
    }
    function closeOpenedRows(table, selectedRow) {
        $.each(openRows, function (index, openRow) {
            // not the selected row!
            if ($.data(selectedRow) !== $.data(openRow)) {
                var rowToCollapse = table.row(openRow);
                rowToCollapse.child.hide();
                openRow.removeClass('shown');
                // replace icon to expand
                //$(openRow).find('td.details-control').html('<span class="glyphicon glyphicon-plus"></span>');
                // remove from list
                var index = $.inArray(selectedRow, openRows);
                openRows.splice(index, 1);
            }
        });
    }
    function formatHoldPay(d) {

        var htmltext;
        var transstatus, refno;
            $.each(d, function (index, value) {
                if (index == 6)
                    transstatus = value;
                if (index == 1)
                    refno = value;
            });
        var divid = "divapprGen" + refno;
        var divid1 = $("#" + divid + "");
        $("#currentGenTransno").val(refno);
        if (transstatus == 0) {
          
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/Accounts/GeneralPayable',
                data: { TransactionRefno: refno },
                success: function (Data) {
                    var divid2 = "divapprGen" + refno;
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);
                 
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    
                }
            });
        }
        else {
          
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/AccountsApproval/VerifyGeneralPaymentView',
                data: { Transrefno: refno },
                success: function (Data) {
                    var divid2 = "divapprGen" + refno;
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);
                  
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                  
                }
            });

        }
        return '<div id="divapprGen' + refno + '" class="col-md-12 verifydiv"><br/></div>';
        }
</script>

