@model List<EsselTestLocalApplication.Models.Accounts.JournalVoucherCreation>
<div class="table-responsive w-100">
    <table id="tblApprovejvGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr>
                <th></th>
                <th>JV Creation Date</th>
                <th>Transaction Number</th>
                <th>Description</th>
                <th>Amount</th>
                <th class="hidden">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="details-control"></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TranNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JVRemarks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td class="hidden">  @Html.DisplayFor(modelItem => item.Status)</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
    @**@
</div>
<script>
    var openRows = new Array();
        $(document).ready(function () {
            var ApproveInvGrid = null;
            InitializeApprInvGrid();
              var Sessioncreated = '@Session["Createdby"]';
            $("#txtAppjvCreatedby").val(Sessioncreated);
             var Sessionroleid = '@Session["Roleid"]';
            $("#roleid").val(Sessionroleid);
        });
    function InitializeApprInvGrid() {
        ApproveInvGrid = $('#tblApprovejvGrid').DataTable({
            info: false,
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            pagingType: false,  
                language: {
                    "emptyTable": "No Invoices Found"
                },
             "createdRow": function (row, data, index) {
                
                },
                pageLength: 10
            });
        $('#tblApprovejvGrid tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = ApproveInvGrid.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // close all previously opened rows
                closeOpenedRows(ApproveInvGrid, tr);
                // Open this row
                row.child(formatApprInvoice(row.data())).show();
                tr.addClass('shown');
                // store current selection
                openRows.push(tr);
            }
        });
    }
    function closeOpenedRows(table, selectedRow) {
        $.each(openRows, function (index, openRow) {
            // not the selected row!
            if ($.data(selectedRow) !== $.data(openRow)) {
                var rowToCollapse = table.row(openRow);
                rowToCollapse.child.hide();
                openRow.removeClass('shown');
                var index = $.inArray(selectedRow, openRows);
                openRows.splice(index, 1);
            }
        });
    }
    function formatApprInvoice(d) {
        var htmltext;
        var Transtatus;
            $.each(d, function (index, value) {               
                if (index == 2)
                    Transtatus = value;
            });
        var divid = "divapprInv";
        var divid1 = $("#" + divid + "");
        $("#currentjvno").val(Transtatus);

            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/AccountsApproval/VerifyJournalVoucherView',
                data: { TranNo: Transtatus },

                success: function (Data) {
                    var divid2 = "divapprInv";
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("error");
                }
            });


        return '<div id="divapprInv"></div>';
        }
</script>
