@model List<EsselTestLocalApplication.Models.Accounts.ClientRecievables>
@foreach (var item in Model)
{   
<div class="col-md-12 verifydiv" >
    <br/>
        <form onsubmit="return false">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Purchase Order Nuumber:</label>
                        <input type="text" class="form-control" value="@item.PONo" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Invoice Number:</label>
                        <input type="text" class="form-control" value="@item.InvoiceNo" readOnly="readOnly" id="ApprClientRecInvoice-@item.BankTransactionId" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cost Center Code:</label>
                        <input type="text" class="form-control" value="@item.CCCode" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Client Code:</label>
                        <input type="text" class="form-control" value="@item.Client" readOnly="readOnly" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Sub Client Code:</label>
                        <input type="text" class="form-control" value="@item.SubClient" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Invoice Sub Type:</label>
                        <input type="text" class="form-control" value="@item.InvoiceCategory" readOnly="readOnly" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Running Account Number:</label>
                        <input type="text" class="form-control" value="@item.RANo" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Invoice Date:</label>
                        <input type="text" class="form-control" value="@item.InvoiceDate" readOnly="readOnly" id="ApprClientRecInvoicedate-@item.BankTransactionId" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Invoice Making Date:</label>
                        <input type="text" class="form-control" value=@item.InvoiceMakingDate readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Basic Value:</label>
                        <input type="text" class="form-control" value="@item.Basic_Value" readOnly="readOnly" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12" id="divapprclientrectaxtable-@item.BankTransactionId">
                <table id="Apprclientrectax-@item.BankTransactionId" style="width:100%;border:1px solid gray">
                    <thead>
                        <tr>
                            <th style="text-align:center">Tax Number</th>
                            <th style="text-align:center">Cost Center </th>
                            <th style="text-align:center">Account Head </th>
                            <th style="text-align:center">Sub Account Head</th>
                            <th style="text-align:center">TaxValue</th>
                            <th style="text-align:center">Types Of TaxName</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot><tr><td></td><td></td><td></td><td></td><td></td><td></td></tr></tfoot>
                </table>
                <br />
            </div>
            <div class="col-md-12" id="divapprclientrecDeductiontable-@item.BankTransactionId">
                <table id="ApprclientrecDeduction-@item.BankTransactionId" style="width:100%;border:1px solid gray">
                    <thead>
                        <tr>
                            <th style="text-align:center">Cost Center </th>
                            <th style="text-align:center">Account Head </th>
                            <th style="text-align:center">Sub Account Head</th>
                            <th style="text-align:center">Deduction Amount</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot><tr><td></td><td></td><td></td><td></td></tr></tfoot>
                </table>
                <br />
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Advance:</label>
                        <input type="text" class="form-control" value="@item.Advance" readOnly="readOnly" id="apprClRecAdvance" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Retention:</label>
                        <input type="text" class="form-control" value=@item.Rentention readOnly="readOnly" id="apprClRecRet" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Hold:</label>
                        <input type="text" class="form-control" value="@item.Hold" readOnly="readOnly" id="apprClRecHold" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Bank:</label>
                        <input type="text" class="form-control" value="@item.Bank" readOnly="readOnly" id="Apprclrecbank" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Transaction Number:</label>
                        <input type="text" class="form-control" value="@item.Number" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Transaction Amount:</label>
                        <input type="text" class="form-control" value=@item.Amount readOnly="readOnly" id="ApprclrecTransAmount" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" value="@item.MOID" id="txtMOID" style="display:none" />
                        <label>Status</label>
                        @Html.DropDownListFor(model => item.MOID, new SelectList("Type", "Type"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "AppClientrecstatus" })

                        @*<select class="form-control dropdown-toggle" id="AppClientrecstatus-@item.BankTransactionId">
                                <option selected="selected" value="Select">Select</option>
                                <option value="Verify">Verify</option>
                                <option value="Approve">Approve</option>
                                <option value="Return">Return</option>
                                <option value="Reject">Reject</option>
                            </select>*@
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Notes:</label><br />
                        <textarea rows="3" cols="60" class="form-control" id="AppClientrecNote-@item.BankTransactionId"></textarea>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <br /><br /><button onClick="ApproveClientRecievable('@item.BankTransactionId')">Submit</button>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="col-md-12">
                <br />
                <div class="text-center">
                    <div id="divApprclientrecInfoMsg-@item.BankTransactionId" class="alert alert-danger hidden"></div>
                </div>
            </div>
        </form>        
    </div>
}
<script>
    $(document).ready(function () {
            var Roleid = '@Session["Roleid"]';
            var Mid = $("#txtMOID").val();
            $.ajax({
                type: "POST",
                url: "/AccountsApproval/GetApprovalstatus",
                data: '{Mid:"' + Mid + '",Rid:"' + Roleid + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var count = Object.keys(response).length;
                    if (count > 0) {
                        var ddlaprovalstatus = $("#AppClientrecstatus");
                        ddlaprovalstatus.empty().append('<option selected="selected" value="Select">Select</option>');
                        $.each(response, function () {
                            ddlaprovalstatus.append($("<option></option>").val(this['Type']).html(this['Type']));
                        });
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        var Transid = $("#currentClRectransid").val();
        var invoicenoid = "ApprClientRecInvoice-" + Transid;
        invno = $("#" + invoicenoid + "").val();
        var taxdivid = "divapprclientrectaxtable-" + Transid;
        var taxdiv = $("#" + taxdivid + "");
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/AccountsApproval/GetClientInvTaxDetailsbyInvno',
            data: { InvNo: invno },
            success: function (response) {
                var count = Object.keys(response).length;
                var taxtotal = 0;
                if (count > 0) {
                    var rowno = 0;
                    $.each(response, function () {
                        rowno = rowno + 1;
                        var newRow = $("<tr>");
                        var cols = "";
                        //cols += '<td style="text-align:center" class="rowno">' + this['TaxName'] + '</td>';
                        cols += '<td style="text-align:center" class="rowno">' + this['TaxNo'] + '</td>';
                        cols += '<td style="text-align:center" class="rowno">' + this['CCCode'] + '</td>';
                        cols += '<td style="text-align:center" class="rowno">' + this['DCACode'] + '</td>';
                        cols += '<td style="text-align:center" class="rowno">' + this['SubDCACode'] + '</td>';
                        cols += '<td style="text-align:center" class="rowno">' + this['TaxValue'] + '</td>';
                        cols += '<td style="text-align:center" class="rowno">' + this['TypesOfTaxName'] + '</td>';
                        newRow.append(cols);
                        $("#Apprclientrectax-" + Transid + "").append(newRow);
                        taxtotal = parseFloat(taxtotal) + parseFloat(this['TaxValue']);
                    });
                    $("#Apprclientrectax-" + Transid + " tfoot tr").each(function () {

                        var footerRow = $(this);
                        if (!isNaN(taxtotal)) {
                            footerRow.find("td").eq(4).html("Tax Total: <b>" + parseFloat(taxtotal).toFixed(2) + "</b>");
                        }
                        else {
                            footerRow.find("td").eq(4).html("");
                        }

                    });
                    $("#" + taxdivid + "").removeClass("hidden");
                }
                else {
                    $("#" + taxdivid + "").addClass("hidden");
                }
             
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              
            }
        });
        var deddivid = "divapprclientrecDeductiontable-" + Transid;
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/AccountsApproval/GetClientDeduction',
            data: { InvNo: invno },
            success: function (response) {

                var count1 = Object.keys(response).length;
                var dedtotal = 0;
                if (count1 > 0) {
                    var rowno = 0;
                    $.each(response, function () {

                        rowno = rowno + 1;
                        var newRow = $("<tr>");
                        var cols = "";
                        cols += '<td style="text-align:center" class="rowno">' + this['CCCode'] + '</td>';
                        cols += '<td style="text-align:center" class="rowno">' + this['DCACode'] + '</td>';
                        cols += '<td style="text-align:center" class="rowno">' + this['SubDcaCode'] + '</td>';
                        cols += '<td style="text-align:center" class="rowno">' + this['DeducationValue'] + '</td>';
                        newRow.append(cols);
                        $("#ApprclientrecDeduction-" + Transid + "").append(newRow);
                        var dedvalue = this['DeducationValue'];
                        dedtotal = parseFloat(dedtotal) + parseFloat(dedvalue);
                    });
                    $("#ApprclientrecDeduction-" + Transid + " tfoot tr").each(function () {

                        var footerRow = $(this);
                        if (!isNaN(dedtotal)) {
                            footerRow.find("td").eq(3).html("Deduction Total: <b>" + parseFloat(dedtotal).toFixed(2) + "</b>");
                        }
                        else {
                            footerRow.find("td").eq(3).html("");
                        }

                    });
                    $("#" + deddivid + "").removeClass("hidden");
                }
                else {
                    $("#" + deddivid + "").addClass("hidden");
                }
             
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
               
            }
        });
    });
</script>