@model List<EsselTestLocalApplication.Models.HR.Holidays>
@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}
@{
    ViewBag.Title = "HolidaysGrid";
    //Layout = "~/Views/Shared/EsselMaster.cshtml";
}

@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table id="tblHolidayGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
            <thead>
                <tr>
                    <th>Holiday Type</th>
                    <th>Holiday Name</th>
                    <th>Holiday Date</th>
                    <th>Cost Centers</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HolidayType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HolidayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HolidayDate)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.CostCenter)*@
                            <ol>
                                @foreach (var cc in item.SelectedCCDetails)
                                {
                                    <li>@Html.DisplayFor(CC => cc.CC_Name)</li>
                                }
                            </ol>
                        </td>
                        <td>
                            <select class="form-control dropdown-toggle" id="ddlHolidaygridaction" onchange="HolidayActionChange(@serializer.Serialize(item),this)">
                                <option selected="selected" value="Select">Select</option>                               
                                <option value="E">Edit</option>
                                <option value="D">Delete</option>
                            </select>
                            @*<input type="button" class="editholiday btn btn-md btn-danger" value="Edit">
                                <input type="button" class="deleteholiday btn btn-md btn-danger" value="Delete">*@
                        </td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
    </div>
    <script>
        $(document).ready(function () {

            var holidayGrid = null;
            InitializeHolidayGrid();

            $("#tblHolidayGrid").on("click", ".deleteholiday", function (event) {
                //alert('deleted');
                var row = $(this).closest("tr");
                var holidayname = $.trim(row.find("td").eq(1).html());
                //$(this).closest("tr").remove();

                addFailMsg = "Error Occurred While Deleting.";
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/HR/DeleteHolidays',
                    data: { Holidayname: holidayname },
                    success: function (Data) {
                        //alert("Hi");
                        if (Data.saveStatus === "Deleted") {
                            row.remove();
                            //var shcount = $("#tblSalaryHeadGrid tbody tr").length;
                            //if (shcount > 0) {
                            //    $("#divGridSalaryHead").removeClass('hidden');
                            //}
                            //else { $("#divGridSalaryHead").addClass('hidden'); }
                        }
                        else {
                            $("#divHolidayInfoMsg").text(addFailMsg);
                            $("#divHolidayInfoMsg").addClass("alert-danger");
                            $("#divHolidayInfoMsg").removeClass("hidden alert-success");
                        }
                        var shcount = $("#tblSalaryHeadGrid tbody tr").length;
                        if (shcount > 0) {
                            $("#divGridSalaryHead").removeClass('hidden');
                        }
                        else { $("#divGridSalaryHead").addClass('hidden'); }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#divHolidayInfoMsg").text(addFailMsg);
                        $("#divHolidayInfoMsg").addClass("alert-danger");
                        $("#divHolidayInfoMsg").removeClass("hidden alert-success");
                    }
                });
            });

            $("#tblHolidayGrid").on("click", ".editholiday", function (event) {
                var row = $(this).closest("tr");
                var holidayname = $.trim(row.find("td").eq(1).html());
                var holidayname = $.trim(row.find("td").eq(1).html());

                $("#txtMinWageEffectiveDate").datepicker("setDate", 'dateToday');
                $('#txtHolidayDate').val("");
                $('#txtHolidayName').val("");
                $("#ddlHolidayType").prop('selectedIndex', 0);
                $('#ddlMultiCCCode').multiselect("deselectAll", false).multiselect("refresh");
            });

        });
        function InitializeHolidayGrid() {
            holidayGrid = $('#tblHolidayGrid').DataTable({
                info: false,
                destroy: false,
                paging: false,
                lengthChange: false,
                searching: false,
                ordering: false,
                pagingType: false,
                language: {
                    "emptyTable": "No Holidays Found"
                },
                "createdRow": function (row, data, index) {

                },
                pageLength: 10
            });
        }
    </script>
}

