@model EsselTestLocalApplication.Models.Users
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePasswordForFirstTime</title>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/EsselStyles/style.css" rel="stylesheet" />
    <link href="~/Content/EsselStyles/responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/Login")
</head>
<body>
    <div id="ModalChangePwdFirsttime" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <form onsubmit="return false">
                        <div class="col-md-12">

                            <div class="col-md-12" style="margin-top:15px;">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Current Password</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.CongfirmPassword, htmlAttributes: new
                                   {
                                       @class = "form-control",
                                       @id = "txtoldPwd",
                                       @type = "password",
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:15px;">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>New Password</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.CongfirmPassword, htmlAttributes: new
                                   {
                                       @class = "form-control",
                                       @id = "txtNewPwd",
                                       @title = "Password must contain at least 1 capital letter,\n\n1 small letter, 1 number and 1 special character.\n\nFor special characters you can pick one of these -,(,!,@,#,$,),%,<,",
                                       onkeyup = "ChngPasswordValidator(this)",
                                       @type = "password",
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:15px;">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.CongfirmPassword)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.CongfirmPassword, htmlAttributes: new
                                   {
                                       @class = "form-control",
                                       @id = "txtNewConfPwd",
                                       @type = "password",
                                       onchange = "ValidateConfirmPassword()"
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:35px;">
                                <div class="text-center">
                                    <input type="submit" class="btn btn1 btn-success" id="btnSubmitNewPwd" onclick="SubmitChangePassword('@Model.LoginType')" value="Submit" />
                                    <input type="hidden" value="" id="txtupUserid" />
                                    <input type="hidden" value="" id="txtCurrentpwd" />
                                    <input type="hidden" id="session" value="@Model.LoginType"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <br />
                                    <div id="divChangePwdInfoMsg" class="alert alert-danger hidden">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            
         var logintype = '@Model.LoginType';       
            $('#ModalChangePwdFirsttime').modal('show');
             
            if (logintype === 'Role') {
                var currentUserid = '@Session["UserID"]';               
                var Currentusername = '@Session["UserID"]';
                $("#txtupUserid").val(Currentusername);
            }
            else {
                var Currentusername = '@Model.Username';
                $("#txtupUserid").val(Currentusername);
            }         

         $.ajax({
             type: "POST",
             url: "/Login/CheckUserbyUsername",
             data: '{Username:"' + Currentusername + '",LoginType:"' + logintype+'"}',
             contentType: "application/json; charset=utf-8",
             dataType: "json",
             success: function (response) {
                 var pwd = response.UserPwd;

                 if (pwd !== '' && pwd !== null) {
                     var decodedpwd = window.atob(pwd);
                     //alert(decodedpwd);
                 
                     $("#txtCurrentpwd").val(decodedpwd);
                 }


                 //removeSpinner($('#ajax-container'), function () {
                 //    $('#ajax-container').html('Content loaded.');
                 //});
             },
             failure: function (response) {
            
                 //removeSpinner($('#ajax-container'), function () {
                 //    $('#ajax-container').html('Content loaded.');
                 //});
             },
             error: function (response) {
           
                 //removeSpinner($('#ajax-container'), function () {
                 //    $('#ajax-container').html('Content loaded.');
                 //});
             }
            });

            sessionValue = '<%= Session["currentDate"] %>';
            
        });
    </script>
</body>
</html>
