@model EsselTestLocalApplication.Models.AddEditDCA
@{
    ViewBag.Title = "AddGeneralDCA";
    Layout = null;
}
@*@Scripts.Render("~/Scripts/bootstrap-multiselect.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
@Styles.Render("~/Content/bootstrap-multiselect/bootstrap-multiselect.css")*@

<div class="row">
    @*<h4 style="text-align:center">Add General DCA</h4>
    <hr />*@
    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-1"></div>
                <div class="col-lg-3"> @Html.LabelFor(model => model.DCACode, htmlAttributes: new { @class = "control-label " })</div>
                <div class="col-lg-4">
                    <div class="form-group">

                        @if (Model.DCACodeID == 0)
                        {
                            @Html.TextBoxFor(model => model.DCACode, htmlAttributes: new { @class = "form-control", @id = "txtAddGenerelDCACode" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.DCACode, htmlAttributes: new { @class = "form-control", @id = "txtAddGenerelDCACode", @readOnly = "true" })
                        }
                    </div>
                </div>

            </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3"> @Html.LabelFor(model => model.DCAName, htmlAttributes: new { @class = "control-label " })</div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.DCAName, htmlAttributes: new { @class = "form-control", @id = "txtAddGenerelDCAName" })
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3"> @Html.LabelFor(model => model.CCTypeIDs, htmlAttributes: new { @class = "control-label" })</div>
            <div class="col-lg-4">
                <div class="form-group">


                    @if (Model.CCtypeList.ToList().Count > 0)
                    {
                        @Html.ListBoxFor(model => model.CCTypeIDs, new SelectList(Model.CCtypeList, "CCTypeID", "CCTypeDescription"), new { @class = "listbox form-control", @id = "addGeneralDCACCtypeMLID", size = 4 })
                    }
                </div>
            </div>
        </div>

            <div class="col-md-12 text-right">
             
                   
                        <input type="submit" value="Submit" class="btn btn-default firmbtns-hover" onclick="AddEditGeneralDCA('@Model.status')" /> &nbsp;&nbsp;
                        @if (Model.DCACodeID == 0)
                        {
                            <input type="reset" value="Reset" class="btn btn-default firmbtns-hover resetgdca" id="btnResetgeneraldca" style="padding-left:10px;" onclick="ResetEditGeneralDCA()" />
                        }
                    
               
            </div>
            <label class="hidden">
                hdnGeneralDCAID: @Html.Hidden("hdnGeneralDCAID", 0)
            </label>
            <div class="col-md-12 text-center">
                <div id="divAddGeneralDCAInfoMsg" class="alert alert-danger hidden">
                </div>
            </div>
        </div>
</div>

<script>
     $(document).ready(function () {
        $('.listbox').multiselect();
    });
    @*$(document).ready(function () {
        $('.listbox').multiselect();
       
        var editstatus = '@Model.status';
        if ( editstatus== "Approved" || editstatus == "0") {
            $("#Additcheck").prop('disabled', true);
            $("#ITCodeddlID").prop('disabled', true);
        }
        else {
            $("#Additcheck").prop('disabled', false);
            $("#ITCodeddlID").prop('disabled', false);}
    });*@
</script>

