@model List<EsselTestLocalApplication.Models.DCAdetails>
@{
    ViewBag.Title = "VerifyCloseDCA";
    Layout = "~/Views/Shared/EsselMaster.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="table-responsive">
                    <table id="tblDCACloseList" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
                        <thead>
                            <tr>
                                <th class="hidden"></th>
                                <th>DCA Code</th>
                                <th>DCA Name</th>
                                <th>DCA Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.BasicDCAInfo.DCAID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BasicDCAInfo.DCACode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BasicDCAInfo.DCAName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BasicDCAInfo.DCATypeName)
                                    </td>
                                    <td>
                                        <button onClick="ViewDCACloseDetails(@item.BasicDCAInfo.DCAID, @item.BasicDCAInfo.DCATypeID, '@item.BasicDCAInfo.DCACode', '@item.BasicDCAInfo.DCAName',' @item.BasicDCAInfo.DCATypeName')">View</button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="closeDCAConfirmationForVerifyAppr" role="dialog" data-backdrop="static" data-keyboard="false">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var dcaCloseGrid = null;
        InitializeDCACloseGrid();
    });

    function InitializeDCACloseGrid() {
        var dcaCloseGrid = $('#tblDCACloseList').DataTable({
            destroy: true,
            paging: true,
            lengthChange: false,
            searching: false,
            order: [[0, "asc"]],
            language: {
                "emptyTable": "No Account Heads Found"
            },
            "createdRow": function (row, data, index) {

               
            },
            pageLength: 10
        });
    }
</script>



