@model List<EsselTestLocalApplication.Models.ITCode>
<div class="table-responsive">
    <table id="tblItcodesGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr>              
                <th class="hidden" >ID</th>
                <th >IT Code</th>
                <th>IT Name</th>                
                <th>Nature Of Group</th>              
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.Itid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NatureGroupName)
                </td>
                @if (item.ITAPRStatus == "Approved" && (item.CloseStatus == "Rejected" || item.CloseStatus == null))
                {
                    <td>
                        <select class="form-control dropdown-toggle" id="ddlITcodegridaction" onchange="ItcodegridActionChange(@item.Itid,'@item.ItCode','@item.ItName','@item.NatureGroupName','@item.GroupId','@item.GroupName',@item.SubGroupId,'@item.SubGroupName', this)">
                            <option selected="selected" value="Select">Select</option>                           
                        </select>
                    </td>
                }
                else
                {
                    <td></td>
                }

            </tr>
            }
        </tbody>

        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>
<div class="modal fade" id="closeITcodeConfirmation" role="dialog" data-backdrop="static" data-keyboard="false">
</div>

<script src="~/Scripts/moment.js"></script>
<script>
    $(document).ready(function () {
        var ItcodeGrid = null;
        InitializeItcodeGrid();

    });
    function InitializeItcodeGrid() {
        ItcodeGrid = $('#tblItcodesGrid').DataTable({
            info: false,
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            pagingType: false,  
            language: {
                "emptyTable": "No IT Codes Found"
            },
            "createdRow": function (row, data, index) { 
                 var ddlAction = $('td:eq(4)', row).find("select");
                ddlAction.empty().append('<option selected="selected" value="0">-Select-</option>');
                var Roleid = '@Session["Roleid"]';
                var Mid = 'IT Code';
                $.ajax({
                    type: "POST",
                    url: "/Home/GetApprovalstatusIT",
                    data: '{Checktype:"' + Mid + '",Rid:"' + Roleid + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var count = Object.keys(response).length;
                        if (count > 0) {
                            $.each(response, function () {
                                ddlAction.append($("<option></option>").val(this['Value']).html(this['Text']));
                            });
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                        //alert("from it tab1");
                    },
                    error: function (response) {
                        alert(response.responseText);
                        //alert("from it tab2");
                    }
                });
            },
            pageLength: 10
        });
      
    }
</script>
