@model EsselTestLocalApplication.Models.Purchase.SupplierPO

    <style>
        .tdlabelcls {
            color: #fff !important;
            margin-top: 10px
        }

        .tdcls {
            text-align: center;
            color: #fff !important;
            padding: 0px !important;
        }

        .tbodytdcls {
            text-align: center;
            padding: 1px !important;
        }
    </style>
    <div class="col-md-12 verifydiv">
        <br />  <form onsubmit="return false">

    <div class="col-lg-12">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.IndentNo)
                @Html.TextBoxFor(model => model.IndentNo, htmlAttributes: new { @class = "form-control", @readOnly = "true" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PONo)
                @Html.TextBoxFor(model => model.PONo, htmlAttributes: new { @class = "form-control", @readOnly = "true" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.VendorName)
                @Html.TextBoxFor(model => model.VendorName, htmlAttributes: new { @class = "form-control", @readOnly = "true" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PODate)
                @Html.TextBoxFor(model => model.PODate, htmlAttributes: new { @class = "form-control", @readOnly = "true" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.POExpireDate)
                @Html.TextBoxFor(model => model.POExpireDate, htmlAttributes: new { @class = "form-control", @readOnly = "true" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.RefNo)
                @Html.TextBoxFor(model => model.RefNo, htmlAttributes: new { @class = "form-control", @readOnly = "true" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.RefDate)
                @Html.TextBoxFor(model => model.RefDate, htmlAttributes: new { @class = "form-control", @readOnly = "true" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.MRRType)
                @Html.TextBoxFor(model => model.MRRType, htmlAttributes: new { @class = "form-control", @readOnly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @if (Model.PODataList.Count > 0)
        {
            <div class="col-md-12">
                <div class="row change-tab text-right" id="divapprPOtable">
                    <div class="strike">
                        <span>Indents</span>
                    </div>
                    <div class="tabledynamic">
                        <br />
                        <table class="table order-list">
                            <thead>
                                <tr style="background-color:rgba(255,255,255,0.1)!important">
                                    <th style="text-align:center;color:#fff">ItemCode</th>
                                    <th style="text-align:center;color:#fff">itemname</th>
                                    <th style="text-align:center;color:#fff">Specification </th>
                                    <th style="text-align:center;color:#fff">Quantity</th>
                                    <th style="text-align:center;color:#fff">Standard Price</th>
                                    <th style="text-align:center;color:#fff">Quoted Price</th>
                                    <th style="text-align:center;color:#fff">Purchase Price</th>
                                    <th style="text-align:center;color:#fff">Amount</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.PODataList)
                                {
                                    <tr>
                                        <td class="tbodytdcls">@item.itemcode</td>
                                        <td class="tbodytdcls" style="word-wrap: break-word; word-break: break-all; white-space: normal;">@item.itemname</td>
                                        <td class="tbodytdcls" style="word-wrap: break-word; word-break: break-all; white-space: normal;">@item.specification</td>
                                        <td class="tbodytdcls">@item.quantity</td>
                                        <td class="tbodytdcls">@item.basicprice</td>
                                        <td class="tbodytdcls">@item.QuotedPrice</td>
                                        <td class="tbodytdcls">@item.NewBasicprice</td>
                                        <td class="tbodytdcls">@item.Amount</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align:center">@Model.IndentTotal</td>
                                </tr>
                            </tfoot>
                        </table>
                        <br />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-12">
        <div class="change-tab" id="divApprTACGrid">
            <div class="strike">
                <span>Terms & Conditions</span>
            </div>
            <div class="tabledynamic">
                <br />
                <table id="ApprTACTable" class="table order-list apprtactable">
                    <thead>
                        <tr style="background-color:rgba(255,255,255,0.1)!important">
                            @*<td style="text-align:center;color:#fff !important;width:10px!important;"><label style="color:#fff !important"></label></td>*@
                            <td style="text-align:center;color:#fff !important;width:10px!important;"><label style="color:#fff !important">S.No</label></td>
                            <td style="text-align:center;color:#fff !important"><label style="color:#fff !important">Terms & Conditions</label></td>
                            <td style="text-align:center;color:#fff !important"><label style="color:#fff !important"></label></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int count1 = 1; }
                        @foreach (var item in Model.TermsList)
                        {
                            <tr>
                                @*<td style="text-align:center;width:10px!important;">
                                        <ul class="list-inline">
                                            <li class="eagle-checkbox">
                                                <label class="eagle-check custom-checkbox">
                                                    <input type="checkbox" class="eagle-check-input" checked>
                                                    <span class="eagle-check-indicator"></span>
                                                    <span class="eagle-check-description"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </td>*@
                                <td style="text-align:center;width:10px!important;"><label style="margin-top:10%">@count1</label></td>
                                <td style="text-align:center;">
                                    <textarea class="form-control txttac" rows="1" cols="50" disabled>@item.Term</textarea>
                                </td>
                                <td style="text-align:center"></td>

                            </tr>
                            count1++;
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            @*<td></td>*@
                            <td class="text-center;"></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row" id="divAddress">
        <div class="col-md-5" style="margin-left:10px">
            <div class="col-md-12"><h5>INVOICE ADDRESS</h5></div>
            <div class="col-md-12" style="margin-top:-25px !important"><hr /></div>
            <div class="col-md-12">
                @Html.LabelFor(model => model.InvAddress1)
                @Html.TextAreaFor(model => model.InvAddress1, new { @id = "txtInvAdd1", @class = "form-control", @type = "text", @rows = "3", @readOnly = "true" })
            </div>
            <div class="col-md-12">
                @Html.LabelFor(model => model.InvAddress2)
                @Html.TextAreaFor(model => model.InvAddress2, new { @id = "txtInvAdd2", @class = "form-control", @type = "text", @rows = "3", @readOnly = "true" })
            </div>
            <div class="col-md-12">
                @Html.LabelFor(model => model.GstNo)
                @Html.TextBoxFor(model => model.GstNo, htmlAttributes: new { @class = "form-control", @id = "txtInvGstNo", @readOnly = "true" })
            </div>
            <div class="col-md-12">
                @Html.LabelFor(model => model.MobileNo)
                @Html.TextBoxFor(model => model.MobileNo, htmlAttributes: new { @class = "form-control", @id = "txtInvMobileNo", onkeypress = "return IsNumeric(event)", @readOnly = "true" })
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <div class="col-md-12"><h5>DELIVERY SITE ADDRESS</h5></div>
            <div class="col-md-12" style="margin-top:-25px !important"><hr /></div>
            <div class="col-md-12">
                @Html.LabelFor(model => model.SiteAddress1)
                @Html.TextAreaFor(model => model.SiteAddress1, new { @id = "txtSiteAddress1", @class = "form-control", @type = "text", @rows = "3", @readOnly = "true" })
            </div>
            <div class="col-md-12">
                @Html.LabelFor(model => model.SiteAddress2)
                @Html.TextAreaFor(model => model.SiteAddress2, new { @id = "txtSiteAddress2", @class = "form-control", @type = "text", @rows = "3", @readOnly = "true" })
            </div>
            <div class="col-md-12">
                @Html.LabelFor(model => model.Contact)
                @Html.TextBoxFor(model => model.Contact, htmlAttributes: new { @class = "form-control", @id = "txtSiteContact", @readOnly = "true" })
            </div>
            <div class="col-md-12">
                @Html.LabelFor(model => model.SiteMobileNo)
                @Html.TextBoxFor(model => model.SiteMobileNo, htmlAttributes: new { @class = "form-control", @id = "txtSiteMobileNo", onkeypress = "return IsNumeric(event)", @readOnly = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table id="ApprInvtax" style="width:100%;border:1px solid gray">
            <thead>
                <tr style="background-color:rgba(255,255,255,0.1)!important">
                    <th style="text-align:center;color:#fff" class="hidden">No.</th>
                    <th style="text-align:center;color:#fff">Action </th>
                    <th style="text-align:center;color:#fff">Role Name</th>
                    <th style="text-align:center;color:#fff">Employee </th>

                </tr>
            </thead>
            <tbody>
                @{ int count2 = 1; }
                @foreach (var item in Model.ApprUserList)
                {
                    <tr>
                        <th style="text-align:center" class="hidden">count2</th>
                        @if (count2 == 1)
                        {
                            <th style="text-align:center">Created By </th>
                        }
                        else
                        {
                            <th style="text-align:center">Verified By </th>
                        }
                        <th style="text-align:center">@item.Rolename</th>
                        <th style="text-align:center">@item.Empname </th>

                    </tr>
                    count2++;
                }
            </tbody>
        </table>
        <br />
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="form-group">
                <input type="text" value="@Model.MOID" id="txtMOID" style="display:none" />
                <label>Status</label>
                @Html.DropDownListFor(model => model.MOID, new SelectList("Type", "Type"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "Appsuppostatus" })

            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <label>Notes:</label><br />
                <textarea rows="3" cols="60" class="form-control" id="AppPONote"></textarea>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <br /><br /><button onClick="ApproveSupplierPO('@Model.PONo','@Model.IndentNo')">Submit</button>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <br />
    <div class="col-md-12">
        <br />
        <div class="text-center">
            <div id="divApprPOInfoMsg" class="alert alert-danger hidden"></div>
        </div>
    </div>
</form>
    </div>
    <script>
    $(document).ready(function () {
           
        var Roleid = '@Session["Roleid"]';
        var Mid = $("#txtMOID").val();
        $.ajax({
            type: "POST",
            url: "/AccountsApproval/GetApprovalstatus",
            data: '{Mid:"' + Mid + '",Rid:"' + Roleid + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var count = Object.keys(response).length;
                if (count > 0) {
                    var ddlaprovalstatus = $("#Appsuppostatus");
                    ddlaprovalstatus.empty().append('<option selected="selected" value="Select">Select</option>');
                    $.each(response, function () {
                              @*if ('@Model.C' == "Closed") {
                                if (this['Type'] == 'Return' || this['Type'] == 'Reject') {
                                }
                                else { ddlaprovalstatus.append($("<option></option>").val(this['Type']).html(this['Type']));}
                            }
                            else {*@
                        if (this['Type'] !== 'Return') {
                        ddlaprovalstatus.append($("<option></option>").val(this['Type']).html(this['Type']));
                        }
                    });
                    //ddlaprovalstatus.append($("<option selected='selected'></option>").val(0000).html(chequeno));
                }


            },
            failure: function (response) {

            },
            error: function (response) {

            }
        });
    });

    </script>