@model List<EsselTestLocalApplication.Models.Purchase.HSN>
@foreach (var item in Model)
{
    <div class="col-md-12 verifydiv">
        <br />
        <form onsubmit="return false">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Type Category:</label>
                        <input type="text" class="form-control" value="@item.Category" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>HSN Category:</label>
                        <input type="text" class="form-control" value="@item.HSNCategory" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>HSN Code:</label>
                        <input type="text" class="form-control" value="@item.HSNCode" readOnly="readOnly" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>CGST Rate:</label>
                        <input type="text" class="form-control" value="@item.Cgstrate" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>SGST Rate:</label>
                        <input type="text" class="form-control" value="@item.Sgstrate" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>IGST Rate:</label>
                        <input type="text" class="form-control" value="@item.Igstrate" readOnly="readOnly" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Remarks:</label>
                        <input type="text" class="form-control" value="@item.Remarks" readOnly="readOnly" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" value="@item.MOID" id="txtMOID" style="display:none" />
                        <label>Status</label>
                        @Html.DropDownListFor(model => item.MOID, new SelectList("Type", "Type"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "Apprhsnstatus" })
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Notes:</label><br />
                        <textarea rows="3" cols="60" class="form-control" id="ApprhsnNotes"></textarea>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <br /><br /><button onClick="ApprovehsnDetails('@item.Rowid')">Submit</button>

                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="col-md-12">
                <br />
                <div class="text-center">
                    <div id="divApprhsnInfoMsg-@item.Rowid" class="alert alert-danger hidden"></div>
                </div>
            </div>
        </form>
    </div>
    break;
}
    <script type="text/javascript">
        $(document).ready(function () {
            var Roleid = '@Session["Roleid"]';
            var Mid = $("#txtMOID").val();
            $.ajax({
                type: "POST",
                url: "/AccountsApproval/GetApprovalstatus",
                data: '{Mid:"' + Mid + '",Rid:"' + Roleid + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var count = Object.keys(response).length;
                    if (count > 0) {
                        var ddlaprovalstatus = $("#Apprhsnstatus");
                        ddlaprovalstatus.empty().append('<option selected="selected" value="Select">Select</option>');
                        $.each(response, function () {
                            ddlaprovalstatus.append($("<option></option>").val(this['Type']).html(this['Type']));
                        });

                    }

                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        });
        function ApprovehsnDetails(Rowid) {
           
            appstatusid = "Apprhsnstatus-" + Rowid;
            var appstatus = $("#Apprhsnstatus").val();
            var ReturnText = $("#ApprhsnNotes").val();
            var retnoteid = "ApprhsnNotes-" + Rowid;
            retnote = $("#" + retnoteid + "").val();
            Rid = "divApprhsnInfoMsg-" + Rowid;
            msg = $("#" + Rid + "");
            isValid = true;
            var errorMsg = "";
            if (appstatus == "Select" || appstatus == "") {
                errorMsg += "<p style='margin-top:-5px!important;'>Select Status</p>";
                isValid = false;
            }
            if (ReturnText == "") {
                errorMsg += "<p style='margin-top:-5px!important;'>Enter Return Note</p>";
                isValid = false;
            }
            if (!isValid) {
                var finalerror1 = "<div style='align:center'><p>Please enter all required fields!</p>";
                $(msg).text("");
                $(msg).append(finalerror1 + errorMsg + "</div>");
                $(msg).addClass("alert-danger");
                $(msg).removeClass("hidden alert-success");
                return false;
            }
            else {
                $(msg).text("");
                $(msg).addClass("hidden");
                addFailMsg = "Error Occurred While Verification";
                //addSuccessMsg = "Verified Successfully.";
                var finalmsg;
                if (appstatus === 'Verify') {
                    finalmsg = 'Verified Successfully';
                }
                else if (appstatus === 'Approve') { finalmsg = 'Approved  Successfully'; }
                else if (appstatus === 'Return') { finalmsg = 'Returned for Update '; }
                else if (appstatus === 'Reject') { finalmsg = 'Rejected  Successfully'; }
                $.ajax({
                    type: "POST",
                    url: "/Purchase/ApproveHSNCode",
                    data: '{Rowid:"' + Rowid + '",Appstatus:"' + appstatus + '",Crtdby:"' + $("#txtApprhsnCreatedby").val() + '",Remarks:"' + $("#ApprhsnNotes").val() + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var msg = response.saveStatus;
                        if (response.saveStatus == "Submitted") {
                            var msg = '';
                            $('#ApprovehsnMsgModal').modal('show');
                            msg = "<div>HSN/SAC Code " + finalmsg + "</div>";
                            $("#ApprovehsnMsgModal").on("hide.bs.modal", function () {
                                $("#divApprcdbGrid").load('/Purchase/VerifyHSNCreationGrid');
                            });
                            $("#ApprhsnMsg").html(msg);                           
                        }
                        else {
                            msg = "<div>" + response.saveStatus + "</div>";
                            $("#ApprhsnMsg").html(msg);
                            $('#ApprovehsnMsgModal').modal('show');                         
                        }
                    },
                    failure: function (response) {
                        var msg = "<div>" + addFailMsg + "</div>";
                        $("#ApprhsnMsg").html(msg);
                        $('#ApprovehsnMsgModal').modal('show');
                    },
                    error: function (response) {
                        var msg = "<div>" + addFailMsg + "</div>";
                        $("#ApprhsnMsg").html(msg);
                        $('#ApprovehsnMsgModal').modal('show');
                    }
                });
            }
        }
    </script>
