@model List<EsselTestLocalApplication.Models.MasterGroup>
<div class="table-responsive">
    <table id="tblApproveMGGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr>
                <th></th>
                <th class="hidden">Group Id</th>
                <th>Group Name</th>
                <th>Nature of Group</th>
                <th>Gross Profit Calculation</th>
                <th class="hidden">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="details-control"></td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.GroupId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.NatureGroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrossProfitCalc)
                    </td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
    
</div>
<script>
        var openRows = new Array();
        $(document).ready(function () {
            var ApproveMGGrid = null;
            InitializeApprMGGrid();
              var Sessioncreated = '@Session["Createdby"]';
            $("#txtApprMGCreatedby").val(Sessioncreated);
               var Sessionroleid = '@Session["Roleid"]';
            $("#roleid").val(Sessionroleid);
        });
    function InitializeApprMGGrid() {
        ApproveMGGrid = $('#tblApproveMGGrid').DataTable({
            info: false,
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            pagingType: false,  
                language: {
                    "emptyTable": "No Groups Found"
                },
            "createdRow": function (row, data, index) {
                var oldstatus = $('td:eq(5)', row).html();
                if (oldstatus == 0) {
                    $('td:eq(5)', row).html("Return"); 
                }
                else { 
                    $('td:eq(5)', row).html("Verification Pending");}
                },
                pageLength: 10
            });
        $('#tblApproveMGGrid tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = ApproveMGGrid.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // close all previously opened rows
                closeOpenedRows(ApproveMGGrid, tr);
                // Open this row
                row.child(formatApprMGroup(row.data())).show();
                tr.addClass('shown');
                // store current selection
                openRows.push(tr);
            }
            });
    }
    function closeOpenedRows(table, selectedRow) {
        $.each(openRows, function (index, openRow) {
            // not the selected row!
            if ($.data(selectedRow) !== $.data(openRow)) {
                var rowToCollapse = table.row(openRow);
                rowToCollapse.child.hide();
                openRow.removeClass('shown');
                // replace icon to expand
                //$(openRow).find('td.details-control').html('<span class="glyphicon glyphicon-plus"></span>');
                // remove from list
                var index = $.inArray(selectedRow, openRows);
                openRows.splice(index, 1);
            }
        });
    }
    function formatApprMGroup(d) {
        var htmltext;
        var groupid;
            $.each(d, function (index, value) {
                if (index == 1)
                    groupid = value;              
            });
        var divid = "divapprmg" + groupid;
        var divid1 = $("#" + divid + "");
       
        $("#currentMgroupid").val(groupid);
       
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/AccountsApproval/VerifyMasterGroupView',
                data: { GroupId: groupid },
                success: function (Data) {
                    var divid2 = "divapprmg" + groupid;
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);
                 
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
              
                }
            });
            return '<div id="divapprmg' + groupid + '" class="col-md-12"></div>';

      
        }
</script>

