@model List<EsselTestLocalApplication.Models.Accounts.RefundDetails>

<div class="col-md-12 verifydiv">
    @foreach (var item in Model)
    {
    <form onsubmit="return false">
        <br />
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Date:</label>
                    <input type="text" class="form-control" value="@item.Date" readOnly="readOnly" id="ApprRefname-@item.Refno" />
                </div>
            </div>
            @if (item.paymentcategory == "")
            {
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Category Payment:</label>
                        <input type="text" class="form-control" value="Refund" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Refund Type:</label>
                        <input type="text" class="form-control" value="SD" readOnly="readOnly" />
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Category Payment:</label>
                        <input type="text" class="form-control" value="Other Refunds" readOnly="readOnly" />
                    </div>
                </div>
            }

            @*@if (item.paymentcategory == null)
            {


            }*@
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Principle CostCenter:</label>
                    <input type="text" class="form-control" value="@item.Refund_CC_Code" readOnly="readOnly" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Principle AccountHead:</label>
                    <input type="text" class="form-control" value="@item.Refund_DCA_Code" readOnly="readOnly" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Principle SubAccountHead:</label>
                    <input type="text" class="form-control" value="@item.Refund_Sub_DCA_Code" readOnly="readOnly" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Principle Amount:</label>
                    <input type="text" class="form-control" value="@item.RefAmount" readOnly="readOnly" />
                </div>
            </div>
        </div>
        @if (item.RefIntCC == null || item.RefIntCC == "")
        {
            @*<div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Intrest CostCenter:</label>
                        <input type="text" class="form-control" value="@item.RefIntCC" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Intrest AccountHead:</label>
                        <input type="text" class="form-control" value="@item.RefIntDCA" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Intrest SubAccountHead:</label>
                        <input type="text" class="form-control" value="@item.RefIntSDCA" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Intrest Amount:</label>
                        <input type="text" class="form-control" value="@item.RefIntAmount" readOnly="readOnly" />
                    </div>
                </div>
            </div>*@
        }
        else
        { <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Intrest CostCenter:</label>
                        <input type="text" class="form-control" value="@item.RefIntCC" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Intrest AccountHead:</label>
                        <input type="text" class="form-control" value="@item.RefIntDCA" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Intrest SubAccountHead:</label>
                        <input type="text" class="form-control" value="@item.RefIntSDCA" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Intrest Amount:</label>
                        <input type="text" class="form-control" value="@item.RefIntAmount" readOnly="readOnly" />
                    </div>
                </div>
            </div>

        }
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" value="@item.Name" readOnly="readOnly" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>BankName:</label>
                    <input type="text" class="form-control" value="@item.Bank" readOnly="readOnly" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>ModeofPay:</label>
                    <input type="text" class="form-control" value="@item.ModeofPay" readOnly="readOnly" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>No:</label>
                    <input type="text" class="form-control" value="@item.No" readOnly="readOnly" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Remarks:</label>
                    <input type="text" class="form-control" value="@item.Remarks" readOnly="readOnly" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Date:</label>
                    <input type="text" class="form-control" value="@item.PaymentDate" readOnly="readOnly" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Amount:</label>
                    <input type="text" class="form-control" value="@item.Amount" readOnly="readOnly" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" value="@item.MOID" id="txtMOID" style="display:none" />
                    <label>Status</label>
                    @Html.DropDownListFor(model => item.MOID, new SelectList("Type", "Type"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ApprRefundstatus" })

                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <label>Notes:</label><br />
                    <textarea rows="3" cols="60" class="form-control" id="ApprRefundNote-@item.Refno"></textarea>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <br /><br /><button onClick="ApproveRefund('@item.Refno')">Submit</button>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <div class="text-center">
                <div id="divApprRefundInfoMsg-@item.Refno" class="alert alert-danger hidden"></div>
            </div>
        </div>
    </form>
    }
</div>

<script type="text/javascript">
        $(document).ready(function () {
            var Roleid = '@Session["Roleid"]';
            var Mid = $("#txtMOID").val();
            $.ajax({
                type: "POST",
                url: "/AccountsApproval/GetApprovalstatus",
                data: '{Mid:"' + Mid + '",Rid:"' + Roleid + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var count = Object.keys(response).length;
                    if (count > 0) {
                        var ddlaprovalstatus = $("#ApprRefundstatus");
                        ddlaprovalstatus.empty().append('<option selected="selected" value="Select">Select</option>');
                        $.each(response, function () {
                            ddlaprovalstatus.append($("<option></option>").val(this['Type']).html(this['Type']));
                        });
                    }
                   
                },
                failure: function (response) {
                 
                },
                error: function (response) {
                  
                }
            });
    });
</script>
