@model EsselTestLocalApplication.Models.Accounts.HoldPayment
<div >

    <form onsubmit="return false">
        <div class="col-md-12">

            <div class="col-md-3">
                <div class="form-group">
                    <label>Client Code:</label>
                    <input type="text" class="form-control" value="@Model.ClientCode" readOnly="readOnly" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Subclient:</label>
                    <input type="text" class="form-control" value="@Model.SubClientCode" readOnly="readOnly" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table id="tblApprRetInv-@Model.BankTransactionRefNo" style="width:100%;border:1px solid gray">
                <thead>
                    <tr>
                        <td style="text-align:center;font-weight:bold" class="hdinvno">Invoice No</td>
                        <td style="text-align:center;font-weight:bold" class="hdinvpo">PO Number</td>
                        <td style="text-align:center;font-weight:bold" class="hdinvdate">Invoice Date</td>
                        <td style="text-align:center;font-weight:bold" class="hdinvbalance">Paid Retention Amount</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.HoldInvoiceList)
                    {
                        <tr>
                            <td style="text-align:center">@item.ClientInvoiceNo</td>
                            <td style="text-align:center">@item.PONumber</td>
                            <td style="text-align:center">@item.InvoiceDate</td>
                            <td style="text-align:center">@item.HoldBalance</td>
                        </tr>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
            <br />
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Bank Name:</label>
                    <input type="text" class="form-control" value="@Model.Bank" readOnly="readOnly" id="ApprholdBank" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Transaction Number:</label>
                    <input type="text" class="form-control" value="@Model.No" readOnly="readOnly" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Transaction Date:</label>
                    <input type="text" class="form-control" value="@Model.ReturnPayDate" readOnly="readOnly" id="ApprHoldTransDate-@Model.BankTransactionRefNo" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Transaction Amount:</label>
                    <input type="text" class="form-control" value="@Model.PaymentAmount" readOnly="readOnly" id="ApprholdCredit" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" value="@Model.MOID" id="txtMOID" style="display:none" />
                    <label>Status</label>
                    @Html.DropDownListFor(model => model.MOID, new SelectList("Type", "Type"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "AppHoldstatus" })

                    @*<select class="form-control dropdown-toggle" id="AppHoldstatus-@Model.BankTransactionRefNo">
                            <option selected="selected" value="Select">Select</option>
                            <option value="Verify">Verify</option>
                            <option value="Approve">Approve</option>
                            <option value="Return">Return</option>
                            <option value="Reject">Reject</option>
                        </select>*@
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <label>Notes:</label><br />
                    <textarea rows="3" cols="60" class="form-control" id="AppHoldNote-@Model.BankTransactionRefNo"></textarea>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <br /><br /><button onClick="ApproveHoldPayment('@Model.BankTransactionRefNo')">Submit</button>


                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <div class="text-center">
                <div id="divApprholdPayInfoMsg-@Model.BankTransactionRefNo" class="alert alert-danger hidden"></div>
            </div>
        </div>

    </form>

</div>
<script>
    $(document).ready(function () {
           var Roleid = '@Session["Roleid"]';
            var Mid = $("#txtMOID").val();
            $.ajax({
                type: "POST",
                url: "/AccountsApproval/GetApprovalstatus",
                data: '{Mid:"' + Mid + '",Rid:"' + Roleid + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var count = Object.keys(response).length;
                    if (count > 0) {
                        var ddlaprovalstatus = $("#AppHoldstatus");
                        ddlaprovalstatus.empty().append('<option selected="selected" value="Select">Select</option>');
                        $.each(response, function () {
                            ddlaprovalstatus.append($("<option></option>").val(this['Type']).html(this['Type']));
                        });
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        var refno = $("#currentHoldTransno").val();
        //transdateid = "ApprHoldTransDate-" + refno;
        //transdate = $("#" + transdateid + "").val();
        //var idate = transdate.toString().split(' ');
        //var idate2 = idate.toString().split(' ');
        //var idate3 = "'" + idate2 + "'";
        //var idate4 = moment(idate3, "DD-MM-YYYY").format('DD-MMM-YYYY');
        //$("#" + transdateid + "").val(idate4);
    });

</script>
