@model  EsselTestLocalApplication.Models.ClientNewAndAmendPO
<div class="col-md-12 verifydiv">
    <br />
    @if (Model.Status != "0")
    {
        <form onsubmit="return false">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Amend Purchase Order No:</label>
                        <input type="text" class="form-control" value="@Model.Amendpono" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Purchase Order No:</label>
                        <input type="text" class="form-control" value="@Model.oldPONO" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cost Center:</label>
                        <input type="text" class="form-control" value="@Model.CostCenter" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Completion Date:</label>
                        @Html.TextBoxFor(model => Model.amendpocompletiondate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @readonly = "true", @type = "text", @id = "compldate" })
                        @*<input type="text" class="form-control" value="@Model.amendpocompletiondate" readOnly="readOnly" id="compldate" />*@
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Amount:</label>
                        <input type="text" class="form-control" value="@Model.Amendpovalue" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>GST:</label>
                        <input type="text" class="form-control" value="@Model.Amendegst" readOnly="readOnly" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Total Amount:</label>
                        <input type="text" class="form-control" value="@Model.Amendtotalvalue" readOnly="readOnly" />
                    </div>
                </div>

            </div>


            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" value="@Model.MOID" id="txtMOID" style="display:none" />
                        <label>Status</label>
                        @Html.DropDownListFor(model => model.MOID, new SelectList("Type", "Type"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "AppAmendPostatus" })
                        @*<select class="form-control dropdown-toggle" id="AppAmendPostatus">
                                <option selected="selected" value="Select">Select</option>
                                <option value="Verify">Verify</option>
                                <option value="Approve">Approve</option>
                                <option value="Return">Return</option>
                                <option value="Reject">Reject</option>
                            </select>*@
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Notes:</label><br />
                        <textarea rows="3" cols="60" class="form-control" id="AppAmendPoNote"></textarea>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <br /><br /><button class="btn btn1 btn-success" onClick="ApproveAmendPO('@Model.Amendpono','@Model.oldPONO')">Submit</button>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="col-md-12">
                <br />
                <div class="text-center">
                    <div id="divApprAmendPoInfoMsg" class="alert alert-danger hidden"></div>
                </div>
            </div>
        </form>
    }
    else
    {
        <form onsubmit="return false">



            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CostCenter)
                        @Html.TextBoxFor(model => model.CostCenter, htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "txtpocc", @readonly = true })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.oldPONO)
                        @Html.TextBoxFor(model => model.oldPONO, htmlAttributes: new { @class = "form-control", @id = "ddlamendpo", @readonly = true })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Amendpono)
                        @Html.TextBoxFor(model => model.Amendpono, htmlAttributes: new { @class = "form-control", @id = "txtamendpono", @readonly = true })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.amendpocompletiondate)
                        @Html.TextBoxFor(model => model.amendpocompletiondate, "{0:dd-MMM-yyyy}", new { @id = "txtamendpocompletiondate", @class = "form-control date-picker", type = "text", @readonly = true })
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Amendpovalue)
                        @Html.TextBoxFor(model => model.Amendpovalue, htmlAttributes: new { @class = "form-control", @id = "txtamendpovalue", onkeypress = "return ValidateAmount(this,event)", onkeyup = "CalculateamentTotal()" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Amendegst)
                        @Html.TextBoxFor(model => model.Amendegst, htmlAttributes: new { @class = "form-control", @id = "txtamendgst", onkeypress = "return ValidateAmount(this,event)", onkeyup = "CalculateamentTotal()" })
                    </div>
                </div>
            </div>
            <div class="row">



                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Amendtotalvalue)
                        @Html.TextBoxFor(model => model.Amendtotalvalue, htmlAttributes: new { @class = "form-control", @id = "txttotalamendvalue", @readonly = "true" })
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <div class="text-right">
                        <button class="btn btn1 btn-success" id="btnClientamendPOSubmit" onclick="UpdateClientPOAmend('@Model.oldPONO','@Model.Amendpono','@Model.CostCenter')">Submit Amend PO</button>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div id="divamendpoInfoMsg" class="alert alert-danger hidden">
                </div>
            </div>
        </form>
    }

</div>

<script>
    $(document).ready(function () {
        var Roleid = '@Session["Roleid"]';
        var Mid = $("#txtMOID").val();
        if (@Model.Status != "0") {
            $.ajax({
                type: "POST",
                url: "/AccountsApproval/GetApprovalstatus",
                data: '{Mid:"' + Mid + '",Rid:"' + Roleid + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var count = Object.keys(response).length;
                    if (count > 0) {
                        var ddlaprovalstatus = $("#AppAmendPostatus");
                        ddlaprovalstatus.empty().append('<option selected="selected" value="Select">Select</option>');
                        $.each(response, function () {
                            ddlaprovalstatus.append($("<option></option>").val(this['Type']).html(this['Type']));
                        });
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        @*var pono = $("#currentAmendPoNo").val();
        var status = '@Model.Status';
        if (status == "1") {
            compldate = $("#compldate").val();
            var cdate = "'" + compldate + "'";
            var cdate1 = moment(cdate, "DD-MM-YYYY").format('DD-MMM-YYYY');
            $("#compldate").val(cdate1);
        }
        else {*@
        if (status == "0") {
            $("#txtamendpocompletiondate").datepicker({
                dateFormat: 'dd-M-yy',
                changeMonth: true,
                changeYear: true,
                showOn: "button",
                minDate: 'dateToday',
                buttonText: "<i class ='glyphicon glyphicon-calendar'></i>",
                onClose: function (selectedDate) {

                }
            });
        }

        $("#currentAmendPoNo").val("");
    });
</script>
