@model EsselTestLocalApplication.Models.Purchase.TransferReciept
@Styles.Render("~/bundles/Accounts/css")
@Scripts.Render("~/bundles/Purchase")
<div class="col-md-12 verifydiv">
    <br />
    <form onsubmit="return false">
        <div class="col-md-12">
            <div id="GridTransferRecieptMultiData">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Date)
                    @Html.TextBoxFor(model => model.Date, "{0:dd-MMM-yyyy}", new { @id = "txtTranrecDate", @class = "form-control  date-picker", @readonly = "true", @type = "text" })
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <label>Notes:</label><br />
                    <textarea rows="3" cols="60" class="form-control" id="AppritemtransferNotes"></textarea>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <br /><br /><button onClick="ApproveItemtransferDetails('@Model.Mrrno')" >Submit</button>  @*onClick="ApproveItemtransferDetails('@Model.Mrrno')"*@
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <div class="text-center">
                <div id="divAppritemstransferInfoMsg" class="alert alert-danger hidden"></div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var Roleid = '@Session["Roleid"]';      
        var Type = '@Model.Type';       
        var Pono = '@Model.PoNo';
        var Mrr = '@Model.Mrrno';
        $("#txtTranrecDate").datepicker({
            dateFormat: 'dd-M-yy',
            changeMonth: true,
            changeYear: true,
            showOn: "button",
            maxDate: 'dateToday',
            buttonText: "<i class ='glyphicon glyphicon-calendar'></i>"

        }).datepicker("setDate", "");
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '/Purchase/GridTransferRecieptMultiData',
            data: { Mrrno: Mrr, Pono: Pono },
            success: function (data) {
                var count = Object.keys(data).length;
                if (count > 0) {
                    $("#GridTransferRecieptMultiData").html(data);
                }
            },
        });
    });
    function ApproveItemtransferDetails(Mrrno) {
        var Pono = '@Model.PoNo';
        var Roleid = '@Session["Roleid"]';       
        var Sessioncreated = '@Session["Createdby"]';
        var AppritemtransferNotes = $("#AppritemtransferNotes").val();
        var Date = $("#txtTranrecDate").val();
        msg = $("#divAppritemstransferInfoMsg");
        isValid = true;
        var errorMsg = "";
        if (Date == "") {
            errorMsg += "<p style='margin-top:-5px!important;'>Enter Date</p>";
            isValid = false;
        }
        if (AppritemtransferNotes == "") {
            errorMsg += "<p style='margin-top:-5px!important;'>Enter Notes</p>";
            isValid = false;
        }
        if (!isValid) {
            var finalerror1 = "<div style='align:center'><p>Please enter all required fields!</p>";
            $(msg).text("");
            $(msg).append(finalerror1 + errorMsg + "</div>");
            $(msg).addClass("alert-danger");
            $(msg).removeClass("hidden alert-success");
            return false;
        }
        else {
            $("#divAppritemstransferInfoMsg").text("");
            $("#divAppritemstransferInfoMsg").addClass("hidden");
            var currentrowcount = $("#ItemITRMDetailsDataTable tbody tr").length;
            var chkcount = 0;
            var chkqty = 0;
            $("#ItemITRMDetailsDataTable tbody tr").each(function () {
                var currentRow = $(this);
                currentrowcount = currentRow;
                var check = currentRow.find("td").eq(0).find('input[type="checkbox"]').is(':checked');
                var qty = currentRow.find("td").eq(10).find("input[type='text']").val();
                if (check == false) { chkcount = chkcount + 1; }
                if (qty == "") { chkqty = chkqty + 1; }
            });
            if (currentrowcount == 0) {
                errorMsg += "<p style='margin-top:-5px!important;' >Invalid Submission</p > ";
                isValid = false;
            }
            if (chkcount > 0) {
                errorMsg += "<p style='margin-top:-5px!important;' >Please Verify Item Codes</p > ";
                isValid = false;
            }
            if (chkqty > 0) {
                errorMsg += "<p style='margin-top:-5px!important;' >Please Enter Recieved Quantity</p > ";
                isValid = false;
            }

            if (!isValid) {
                var finalerror1 = "<div style='align:center'><p>Please enter all required fields!</p>";
                $("#divAppritemstransferInfoMsg").text("");
                $("#divAppritemstransferInfoMsg").append(finalerror1 + errorMsg + "</div>");
                $("#divAppritemstransferInfoMsg").addClass("alert-danger");
                $("#divAppritemstransferInfoMsg").removeClass("hidden alert-success");
                return false;
            }
            else {
                debugger;
                var ItemCodes = "";
                var Basics = "";
                var Amts = "";
                var RaisedQtys = 0;
                var RecievedQtys = 0;
                var SumRaisedQty = 0;
                var SumRecievedQty = 0;
                var SumOldRecievedQty = 0;
                var Rowids = "";
                var selectedledlist = [];
                //var IndDefinetxt = $("#ddl_ItemType option:selected").text();
                $("#ItemITRMDetailsDataTable tbody tr").each(function () {
                    var currentRow = $(this);
                    var Itemcode = currentRow.find("td").eq(1).html();
                    var Basic = isNaN(parseFloat(currentRow.find("td").eq(6).html())) ? 0 : parseFloat(currentRow.find("td").eq(6).html())
                    var Amt = isNaN(parseFloat(currentRow.find("td").eq(8).html())) ? 0 : parseFloat(currentRow.find("td").eq(8).html())
                    var Raisedqty = isNaN(parseFloat(currentRow.find("td").eq(9).html())) ? 0 : parseFloat(currentRow.find("td").eq(9).html())
                    var OldRecievedQty = isNaN(parseFloat(currentRow.find("td").eq(10).html())) ? 0 : parseFloat(currentRow.find("td").eq(10).html())
                    var RecievedQty = isNaN(parseFloat(currentRow.find("td").eq(11).find("input[type='text']").val())) ? 0 : parseFloat(currentRow.find("td").eq(11).find("input[type='text']").val())
                    var Rowid = currentRow.find("td").eq(12).html();
                    ItemCodes = ItemCodes + Itemcode + ",";
                    Basics = Basics + Basic + ",";
                    Amts = Amts + Amt + ",";
                    RaisedQtys = RaisedQtys + Raisedqty + ",";
                    RecievedQtys = RecievedQtys + RecievedQty + ",";
                    SumRaisedQty = parseFloat(SumRaisedQty) + parseFloat(Raisedqty);
                    SumRecievedQty = parseFloat(SumRecievedQty) + (parseFloat(RecievedQty) + parseFloat(OldRecievedQty));
                    Rowids = Rowids + Rowid + ",";
                    if (ItemCodes != "") {
                        selectedledlist.push(currentRow.find("td").eq(1).html());
                    }

                });
                var Mrrno = '@Model.Mrrno';
                var Indno = '@Model.IndentNo';
                $("#divAppritemstransferInfoMsg").text("");
                $("#divAppritemstransferInfoMsg").addClass("hidden");
                addFailMsg = "Error Occurred While Verification";
                $.ajax({
                    type: "POST",
                    url: "/Purchase/SaveVendorTransferRecieptMulti",
                    data: '{ItemCodes:"' + ItemCodes + '",Basics:"' + Basics + '",Amts:"' + Amts + '",RaisedQtys:"' + RaisedQtys + '",RecievedQtys:"' + RecievedQtys + '",SumRaisedQty:"' + SumRaisedQty + '",SumRecievedQty:"' + SumRecievedQty + '",Remarks:"' + $("#AppritemtransferNotes").val() + '",Pono:"' + Pono + '",Rid:"' + Rowids + '",Date:"' + $("#txtTranrecDate").val() + '",Indno:"' + Indno + '",Oldmrr:"' + Mrrno + '"}',
                    contentType: "application/json; charset=utf-8",
                    processData: false,
                    dataType: "json",
                    success: function (Data) {
                        var msg = '';
                        var string = Data.saveStatus;
                        var nameArr1 = string.split(',');
                        var status = nameArr1[0];
                        var ICode = nameArr1[1];
                        if (status == "Submitted") {
                            $('#ApprovetroMMsgModal').modal('show');
                            msg = "<div>Transfer Reciept No  " + ICode + " Successfully Submitted </div>";
                            $("#ApprovetroMMsgModal").on("hide.bs.modal", function () {
                                $("#divApprtroGrid").load('/Purchase/TransferRecieptMultiGrid');
                            });
                            $("#ApprtroMMsg").html(msg);
                        }
                        else {
                            msg = "<div>" + Data.saveStatus + "</div>";
                            $("#ApprtroMMsg").html(msg);
                            $('#ApprovetroMMsgModal').modal('show');
                        }
                    },
                    failure: function (response) {
                        var msg = "<div>" + addFailMsg + "</div>";
                        $("#ApprtroMMsg").html(msg);
                        $('#ApprovetroMMsgModal').modal('show');
                    },
                    error: function (response) {
                        var msg = "<div>" + addFailMsg + "</div>";
                        $("#ApprtroMMsg").html(msg);
                        $('#ApprovetroMMsgModal').modal('show');
                    }
                });
            }
        }
    }
</script>