@model EsselTestLocalApplication.Models.ReportParameters.ReportYears
@{
    ViewBag.Title = "BalanceSheetReport";
    Layout = "~/Views/Shared/EsselMaster.cshtml";
}


@Scripts.Render("~/bundles/Reports")
@Styles.Render("~/bundles/Accounts/css")

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
@Styles.Render("~/bundles/Reports/css")

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: #b7dee8;">
                <div class="card-header">
                </div>
                <div class="body">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 text-center">  @Html.LabelFor(model => model.Year)</div>
                        <div class="col-md-4">
                            <div class="form-group">

                                @Html.DropDownListFor(model => model.Year, new SelectList(Model.FnyearsList, "Year", "YearValue"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddlBSRptYear", onchange = "BalanceSheetRptYearChange()" })
                            </div>
                        </div>

                        <div class="col-md-5" id="divtreebtns">

                            <input type="submit" value="ExpandAll" class="btn btn-default firmbtns-hover" id="btnBSRptExpandall" onclick="BSExpandAll()" />
                            <input type="submit" value="CollapseAll" class="btn btn-default firmbtns-hover" id="btnBSPotCollapsall" onclick="BSCollapseAll()" />

                        </div>
                    </div>
                    <div class="row">
                        @*grids*@
                        <div id="divBSRptGrid">
                            <div id="divBSRptDetails">
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="text-center">
                                <br />
                                <div id="divBSReportInfoMsg" class="alert alert-danger hidden">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#divBSRptDetails").addClass('hidden');
        $("#divtreebtns").addClass('hidden');
    });
    function BalanceSheetRptYearChange() {
        var Year = $("#ddlBSRptYear option:selected").val();
        var YearIndex = $("#ddlBSRptYear option:selected").index();
        if (YearIndex !== 0) {

            var yearArr = Year.toString().split('-');
            var Currentyear = yearArr[0];
            var Nextyear = parseInt(yearArr[0]) + 1;
            var Reportype = "BalanceSheet";

            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '/Reports/ViewBalanceSheetReportGrid',
                data: { FromYear: Currentyear, ToYear: Nextyear, ReportType: Reportype, Year: Year },
                beforeSend: function () {
                    $('#ajax-container').html('');
                    addSpinner($('#ajax-container'));
                },
                success: function (Data) {
                    var count1 = Object.keys(Data).length;
                    var msg = "";
                    if (count1 > 0) {
                        $("#divBSRptDetails").html(Data);
                        $("#divBSRptDetails").removeClass('hidden');
                        $("#divtreebtns").removeClass('hidden');
                    }
                    else {
                        $("#divBSRptDetails").html('No Data Found');
                        $("#divBSRptDetails").removeClass('hidden');
                    }

                    removeSpinner($('#ajax-container'), function () {
                        $('#ajax-container').html('Content loaded.');
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    removeSpinner($('#ajax-container'), function () {
                        $('#ajax-container').html('Content loaded.');
                    });
                    alert("error");
                }
            });
        }
        else {

            $("#divBSRptDetails").addClass('hidden');
            $("#divtreebtns").addClass('hidden');
        }
        
    }
</script>