@model EsselTestLocalApplication.Models.ReportParameters.LedgerReport
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Close IT Code</h4>
            </div>
            <div class="modal-body" style="overflow-x:hidden">
                <div id="divLedgerDetails">
                    @{ int count = 1; }
                    <div class="table-responsive">
                        <table id="tblLedgerReportGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
                            <thead>

                                <tr>
                                    <th colspan="2" style="text-align:center">@Model.LedgerName</th>
                                    <th class="hidden"></th>
                                    <th class="hidden"></th>
                                    <th></th>
                                    <th>FromDate: @Model.FromDate</th>
                                    <th>ToDate: @Model.ToDate</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th class="hidden">No</th>
                                    <th class="hidden">Id</th>
                                    <th>Description</th>
                                    <th>VoucherNo</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Date</th>
                                    @*<th>Balance</th>*@
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.LedgerReportData)
                                {
                                    <tr>


                                        <td class="details-control"></td>
                                        <td style="text-align:center" class="hidden">@count</td>
                                        <td class="hidden">
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>

                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.Particular)*@
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VoucherNo)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Debit)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Credit)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LedgerDate)
                                        </td>
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.Balance)
                                            </td>*@

                                    </tr>
                                    count++;
                                }
                            </tbody>


                        </table>
                    </div>
                    <input type="hidden" value="@Model.Year" id="txtYear" />
                    <input type="hidden" value="@Model.LedgerTypeId" id="txtLtid" />
                    <input type="hidden" value="@Model.LedgerTypeName" id="txtLtname" />

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var ledgerGrid = null;
            InitializeLedgerReportGrid();
        });
    function InitializeLedgerReportGrid() {
        ledgerGrid = $('#tblLedgerReportGrid').DataTable({
                destroy: true,
                paging: true,
                lengthChange: false,
                searching: false,
                language: {
                    "emptyTable": "No Data Found"
                },
                pageLength: 100,
                "initComplete": function (settings, json) {
                    //GetBudgetAsignedCCDetailsForReport();

                }
            });
        $('#tblLedgerReportGrid tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
            var row = ledgerGrid.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(formatLedgerReport(row.data())).show();
                    tr.addClass('shown');
                }
            });

        }
    function formatLedgerReport(d) {
        //debugger;
        var rowid = '',rowno=0;
        var LegderId = $("#ddlLRptLedgername option:selected").val();
        var RowYear = $("#txtYear").val();
        $.each(d, function (index, value) {
            if (index == 2)
                rowid = value;
            if (index == 1)
                rowno = value;
            //alert(rowid);
        });
        //debugger;
        var divid = "divlederSummary" + rowno;
        var divid1 = $("#" + rowno + "");

    $.ajax({
        type: 'POST',
        dataType: 'html',
        url: '/Reports/GetLedgerDetailedSummary',
        data: { ledgerid: LegderId, id: rowid, year: RowYear },

        success: function (Data) {
            var count1 = Object.keys(Data).length;
            var msg = "";
            if (count1 > 0) {
                var divid2 = "divlederSummary" + rowno;
                var divid3 = $("#" + divid2 + "");
                $(divid3).html(Data);
            }
            else {
                $(divid3).html("<span>No Data Found</span>")
            }

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

        }
    });
        return '<div id="divlederSummary' + rowno + '" class="col-md-12"></div>';

        }


    </script>
</body>
</html>
