@model List<EsselTestLocalApplication.Models.Purchase.BankStatement>
<div class="table-responsive">
    <table id="tblItemsGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr>
                <th style="text-align:center;color:#fff !important;background-color:#004d99 !important;font-weight:normal; white-space: normal;font-size:10px">Date</th>
                <th style="text-align:center;color:#fff !important;background-color:#004d99 !important;font-weight:normal; white-space: normal;font-size:10px">Name</th>
                <th style="text-align:center;color:#fff !important;background-color:#004d99 !important;font-weight:normal; white-space: normal;font-size:10px">Tran/Ref No</th>
                <th style="text-align:center;color:#fff !important;background-color:#004d99 !important;font-weight:normal; white-space: normal;font-size:10px">Cost Center</th>
                <th style="text-align:center;color:#fff !important;background-color:#004d99 !important;font-weight:normal; white-space: normal;font-size:10px">DCA Code</th>
                <th style="text-align:center;color:#fff !important;background-color:#004d99 !important;font-weight:normal; white-space: normal;font-size:10px">Number</th>
                <th style="text-align:center;color:#fff !important;background-color:#004d99 !important;font-weight:normal; white-space: normal;font-size:10px">Deposit</th>
                <th style="text-align:center;color:#fff !important;background-color:#004d99 !important;font-weight:normal; white-space: normal;font-size:10px">Withdraw</th>
                <th style="text-align:center;color:#fff !important;background-color:#004d99 !important;font-weight:normal; white-space: normal;font-size:10px">Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td style="text-align:center;font-weight:normal; white-space: normal;font-size:11px">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td style="text-align:center;font-weight:normal; white-space: normal;font-size:11px">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="text-align:center;font-weight:normal; white-space: normal;font-size:11px">
                    @Html.DisplayFor(modelItem => item.TranNo)
                </td>
                <td style="text-align:center;font-weight:normal; white-space: normal;font-size:11px">
                    @Html.DisplayFor(modelItem => item.CCCode)
                </td>
                <td style="text-align:center;font-weight:normal; white-space: normal;font-size:11px">
                    @Html.DisplayFor(modelItem => item.DCACode)
                </td>
                <td style="text-align:center;font-weight:normal; white-space: normal;font-size:11px">
                    @Html.DisplayFor(modelItem => item.No)
                </td>
                <td style="text-align:center;font-weight:normal; white-space: normal;font-size:11px">
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td style="text-align:center;font-weight:normal; white-space: normal;font-size:11px">
                    @Html.DisplayFor(modelItem => item.WithDraw)
                </td>
                <td style="text-align:center;font-weight:normal; white-space: normal;font-size:11px">
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
<script>

    $(document).ready(function () {
        var ApprovePOGrid = null;
        InitializeformatApprovePOGrid();
        var total = 0;
        //$("#tblItemsGrid tbody tr").each(function () {
        //    var currentRow = $(this);

        //    var rowtotal = currentRow.find("td").eq(8).html();
        //    var numgivenqty = isNaN(parseFloat(rowtotal)) ? 0 : parseFloat(rowtotal)
        //    if (rowtotal != "") {
        //        total = parseFloat(total) + parseFloat(numgivenqty);
        //    }

        //});
        //$("#tblItemsGrid tfoot tr").each(function () {
        //    var footerRow = $(this);

        //    if (!isNaN(total)) {
        //        footerRow.find("td").eq(8).html("<b>" + total + "</b>");
        //    }
        //    else {
        //        footerRow.find("td").eq(8).html("");
        //    }

        //});

    });
    function InitializeformatApprovePOGrid() {
        ApprovePOGrid = $('#tblItemsGrid').DataTable({
            info: false,
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: true,
            ordering: true,
            pagingType: false,
            language: {
                "emptyTable": "No Service Providers Found"
            },
            "createdRow": function (row, data, index) {

            },
            pageLength: 10
        });

    }
    //$(document).ready(function () {
    //    var ApprovecccashtransferGrid = null;
    //    InitializeApprcccashtransferGrid();
    //});
    //function InitializeApprcccashtransferGrid() {
    //    ApprovecccashtransferGrid = $('#tblItemsGrid').DataTable({
    //        info: false,
    //        destroy: false,
    //        paging: false,
    //        lengthChange: false,
    //        searching: true,
    //        ordering: true,
    //        pagingType: false,
    //        language: {
    //            "emptyTable": "No Records Found"
    //        },
    //    });
    //}
</script>
