@model List<EsselTestLocalApplication.Models.Purchase.Transfer>
<div class="table-responsive">
    <table id="tblTransferGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr>
                <th></th>
                <th class="hidden">Id</th>
                <th>Reference No</th>
                <th>From CC</th>
                <th>To CC</th>
                <th>Transfer Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="details-control"></td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.Rid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RefNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromCC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToCC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>

</div>
<script>
       var openRows = new Array();
        $(document).ready(function () {
            var ApproveIndGrid = null;
            InitializeApprtrnGrid();
        });
    function InitializeApprtrnGrid() {
        ApproveIndGrid = $('#tblTransferGrid').DataTable({
                info: false,
                destroy: false,
                paging: false,
                lengthChange: false,
                searching: false,
                ordering: false,
                pagingType: false,
                language: {
                    "emptyTable": "No Records Found"
                },
            "createdRow": function (row, data, index) {
            }
            });
        $('#tblTransferGrid tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = ApproveIndGrid.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // close all previously opened rows
                closeOpenedRows(ApproveIndGrid, tr);
                // Open this row
                row.child(formatApprIndAccounts(row.data())).show();
                tr.addClass('shown');
                // store current selection
                openRows.push(tr);
            }
        });
    }
    function closeOpenedRows(table, selectedRow) {
        $.each(openRows, function (index, openRow) {
            // not the selected row!
            if ($.data(selectedRow) !== $.data(openRow)) {
                var rowToCollapse = table.row(openRow);
                rowToCollapse.child.hide();
                openRow.removeClass('shown');
                var index = $.inArray(selectedRow, openRows);
                openRows.splice(index, 1);
            }
        });
    }
    function formatApprIndAccounts(d) {
        var htmltext;
        var Rid,Refno;
            $.each(d, function (index, value) {
                if (index == 1)
                    Rid = value;
                if (index == 2)
                    Refno = value;
            });

        var divid = "divapprTra" + Rid;
        var divid1 = $("#" + divid + "");
        $("#currentInd").val(Rid);
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/Reports/ViewAllTransferDetails',
                data: { Refno: Refno },
                success: function (Data) {
                    var divid2 = "divapprTra" + Rid;
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        return '<div id="divapprTra' + Rid + '" ></div>';
        }
</script>
