@model List<EsselTestLocalApplication.Models.HR.EmpDocument>
@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    System.Web.Script.Serialization.JavaScriptSerializer oSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();   
    var DocumentJson = "";
    var EditDocumentJson = "";
    var Action = Session["EmpAction"].ToString();
    if (Action == "New")
    {
        DocumentJson = serializer.Serialize(((List<EsselTestLocalApplication.Models.HR.EmpDocument>)Session["EmpDocument"]).ToArray());
    }
    else
    {
        EditDocumentJson = serializer.Serialize(((List<EsselTestLocalApplication.Models.HR.EmpDocument>)Session["EditEmpDocument"]).ToArray());
    }
}
<div class="col-md-12 change-tab">
    <div class="strike1">
        <span>Documents</span>
    </div>
    <div class="tabledynamic">
        <br />
        <table id="DocumentTable" class="table order-list doctable dataTable">
            <thead>
                <tr>
                    <td style="text-align:center;color:#fff !important;background-color: #202447;">S.No</td>
                    <td style="text-align:center;color:#fff !important;background-color: #202447;">Name</td>
                    @*<td style="text-align:center;color:#fff !important">Preview</td>*@                  
                    <td style="text-align:center;color:#fff !important;background-color: #202447;"></td>
                </tr>
            </thead>
            <tbody>
                @{int count3 = 1; }


                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center">@count3</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocName)
                        </td>
                        @*<td style="text-align:center">
                            <img src="@item.Path" width="150" height="150" />
                        </td>*@
                        
                        <td style="text-align:center">

                            <input type="button" class="ibtnshowPreview btn btn-md btn-danger" value="Preview" onclick="ShowPreview(@serializer.Serialize(item))">
                            <input type="button" class="ibtnAdddocdelete btn btn-md btn-danger" value="Delete">
                        </td>

                    </tr>
                    count3++;
                }
            </tbody>

        </table>
    </div>
</div>
<div class="modal fade" id="PreviewModel" role="dialog" data-backdrop="static" data-keyboard="false">

</div>
<script>
    $(document).ready(function () {

        var docGrid = null;
        InitializeDocGrid();
     
        var Action = '@Session["EmpAction"]';
        if (Action!== "") {
            if (Action=== "New") {    $("#HiddenDocumentsData").val(@Html.Raw(Json.Encode(@DocumentJson)));}
            else if(Action === "Edit") {
                $("#UpdateHiddenDocumentsData").val(@Html.Raw(Json.Encode(@EditDocumentJson)));;
            }
        }
        $("table.order-list.doctable").on("click", ".ibtnAdddocdelete", function (event) {
            var row = $(this).closest("tr");
            var name = $.trim(row.find("td").eq(1).html());
            var rowno = $.trim(row.find("td").eq(0).html());
            addFailMsg = "Error Occurred While Deleting.";
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/HR/DeleteEmpDocumentData',
                data: { DocName: name },
                success: function (Data) {
                    //alert("Hi");
                    if (Data.saveStatus === "Deleted") {
                         var Action1 = '@Session["EmpAction"]';
                        if (Action1 !== "") {
                            if (Action1 === "New") {
                                $("#divDocuments").load('/HR/EmpDocumentGrid');
                            }
                            else {
                                $("#divUpdateDocuments").load('/HR/EmpDocumentGrid');
                            }
                        }
                         
                        
                    }
                    else {
                        $("#divAddNewEmpInfoMsg").text(addFailMsg);
                        $("#divAddNewEmpInfoMsg").addClass("alert-danger");
                        $("#divAddNewEmpInfoMsg").removeClass("hidden alert-success");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#divAddNewEmpInfoMsg").text(addFailMsg);
                    $("#divAddNewEmpInfoMsg").addClass("alert-danger");
                    $("#divAddNewEmpInfoMsg").removeClass("hidden alert-success");
                }
            });
        });

        //$("table.order-list.doctable").on("click", ".ibtnshowPreview", function (event) {
        //    var row = $(this).closest("tr");
        //    var path = $.trim(row.find("td").eq(2).html());
        //    var rowno = $.trim(row.find("td").eq(0).html());
        //    var Doc = {
        //        DocName:,
        //        DocBinaryData:,
        //        Path:
        //                    }
        //    $.ajax({
        //        type: "POST",
        //        url: "/HR/DocumentPreview",
        //        data: { edData:},
        //        contentType: "application/json; charset=utf-8",
        //        dataType: 'html',
        //        success: function (data) {
        //            $('#ChildMemberModel').html(data);
        //            $('#ChildMemberModel').modal();
        //        }
        //    });
        //    //$('#PreviewModel').modal('show');
        //    //$('#Previewimg').attr('src', path);
        //});
    });
    function ReassignRowNoforDocGrid() {
        var rowno = 1;
        $("#DocumentTable tbody tr").each(function () {
            var currentRow = $(this);
            currentRow.find("td").eq(0).html(rowno);
            rowno++;
        });

    }
    function InitializeDocGrid() {
        docGrid = $('#DocumentTable').DataTable({
            info: false,
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            pagingType: false,
            language: {
                "emptyTable": "No Documents Found"
            },
            "createdRow": function (row, data, index) {
                
            },
            pageLength: 10
        });

    }
    function ShowPreview(Modeldata) {        
        $.ajax({
                type: "POST",
                url: "/HR/DocumentPreview",           
                //data: JSON.stringify({ edData: Modeldata }),
            data: JSON.stringify({ Pdfbase64: Modeldata.PDFBaseData, name: Modeldata.DocName, filetype: Modeldata.FileType }),
                contentType: "application/json; charset=utf-8",
                dataType: 'html',
                success: function (data) {
                    $('#PreviewModel').html(data);
                    $('#PreviewModel').modal();
                }
            });
    }
</script>
