@model List<EsselTestLocalApplication.Models.HR.LongTermAdvance>
    <style>
        .tdcls {
            text-align:center;
        }
        .txtcls {
            text-align: center;
        }
    </style>
    <div class="table-responsive  w-100">
        <table id="tblApproveGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
            <thead>
                <tr>
                    <th class="tdcls"></th>
                    <th class="tdcls hidden">LTAId</th>
                    <th class="tdcls">Employee ID</th>
                    <th class="tdcls">Employee Name</th>
                    <th class="tdcls">LTAAmount</th>
                    <th class="tdcls">No Of Installments</th>
                    <th class="tdcls">Request Date</th>
                    <th class="tdcls hidden">TransactionRefNo</th>
                    <th class="tdcls hidden">Purpose</th>
                    <th class="tdcls">Advance Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="details-control"></td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.LTAId)
                    </td>
                    <td class="txtcls">
                        @Html.DisplayFor(modelItem => item.EmployeeID)
                    </td>
                    <td class="txtcls">
                        @Html.DisplayFor(modelItem => item.EmployeName)
                    </td>
                    <td class="txtcls">
                        @Html.DisplayFor(modelItem => item.LTAAmount)
                    </td>
                    <td class="txtcls">
                        @Html.DisplayFor(modelItem => item.NoOfInstallments)
                    </td>
                    <td class="txtcls">
                        @Html.DisplayFor(modelItem => item.RequestedDate)
                    </td>
                    <td class="txtcls hidden">@Html.DisplayFor(modelItem => item.TransactionRefNo)</td>

                    <td class="txtcls hidden">
                        @Html.DisplayFor(modelItem => item.EmpRemarks)
                    </td>
                    <td class="txtcls">                       
                        @Html.DisplayFor(modelItem => item.AdvanceType)
                    </td>
                </tr>
                }
            </tbody>

            <tfoot>
                <tr></tr>
            </tfoot>
        </table>

    </div>
    <script>
        var openRows = new Array();
        $(document).ready(function () {
            var ApproveGrid = null;
            InitializeApprGrid();
        });
        function InitializeApprGrid() {
            ApproveGrid = $('#tblApproveGrid').DataTable({
                info: false,
                destroy: false,
                paging: false,
                lengthChange: false,
                searching: false,
                ordering: false,
                pagingType: false,
                language: {
                    "emptyTable": "No Data Found"
                },
                "createdRow": function (row, data, index) {
                },
                pageLength: 10
            });
            $('#tblApproveGrid tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = ApproveGrid.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // close all previously opened rows
                    closeOpenedRows(ApproveGrid, tr);
                    // Open this row
                    row.child(formatApprLTA(row.data())).show();
                    tr.addClass('shown');
                    // store current selection
                    openRows.push(tr);
                }
            });
        }
        function closeOpenedRows(table, selectedRow) {
            $.each(openRows, function (index, openRow) {
                // not the selected row!
                if ($.data(selectedRow) !== $.data(openRow)) {
                    var rowToCollapse = table.row(openRow);
                    rowToCollapse.child.hide();
                    openRow.removeClass('shown');
                    // replace icon to expand
                    //$(openRow).find('td.details-control').html('<span class="glyphicon glyphicon-plus"></span>');
                    // remove from list
                    var index = $.inArray(selectedRow, openRows);
                    openRows.splice(index, 1);
                }
            });
        }
        function formatApprLTA(d) {
            var htmltext;
            var LTAId = 0, EmployeeID = "", Name = "", LTAAmount = "", NoOfInstallments = "", RequestDate = "";
            let TransactionRefNo = "", EmpRemarks = "",type="";
            $.each(d, function (index, value) {
                if (index == 1)
                    LTAId = value;
                if (index == 2)
                    EmployeeID = value;

                if (index == 3)
                    Name = value;
                if (index == 4)
                    LTAAmount = value;
                if (index == 5)
                    NoOfInstallments = value;
                if (index == 6)
                    RequestDate = value;
                if (index == 7)
                    TransactionRefNo = value;
                if (index == 8)
                    EmpRemarks = value;
                if (index == 9)
                    type = value;

            });
            var empData = {
                LTAId: LTAId,
                EmployeeID: EmployeeID,
                LTAAmount: LTAAmount,
                EmployeName: Name,
                NoOfInstallments: NoOfInstallments,
                RequestedDate: RequestDate,
                TransactionRefNo: TransactionRefNo,
                EmpRemarks: EmpRemarks,
                AdvanceType: type
            };
            debugger;
            var divid = "divapprStaff" + LTAId;
            var divid1 = $("#" + divid + "");
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/HR/LongTermAdvanceRequestView',
                data: { advance: empData },
                success: function (Data) {
                    var divid2 = "divapprStaff" + LTAId;
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
            return '<div id="divapprStaff' + LTAId + '" class="row" ></div>';
        }
    </script>
