@model List<EsselTestLocalApplication.Models.HR.EmployeeNoticePeriodRules>
<div class="table-responsive">
    <table id="tblNPGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr>
                <th class="tdtextcls hidden">Id</th>
                <th class="tdtextcls  hidden">CategoryId</th>
                <th class="tdtextcls">Notice Period In Days(In Probation)</th>
                <th class="tdtextcls">Notice Period In Days(After Probation)</th>
                <th class="tdtextcls">Effective Date</th>
                <th class="tdtextcls">Emp Category</th>
                <th class="tdtextcls">Probation Age</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.NoticePeriodId)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.NoticePeriodCategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InProbServingNoticePeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AfterProbServingNoticePeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NPEffectiveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoticePeriodCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProbationAge)
                </td>
                <td>
                    <input type="button" class="deleteNpRule btn btn-md btn-danger" value="Delete">
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>
<script>
    $(document).ready(function () {
        var npGrid = null;
        InitializeNpGrid();
        $("#tblNPGrid").on("click", ".deleteNpRule", function (event) {
            //alert('deleted');
            var row = $(this).closest("tr");
            var Id = $.trim(row.find("td").eq(0).html());
            var CatId = $.trim(row.find("td").eq(1).html());
            var data = {
                NoticePeriodId: Id,
                NoticePeriodCategoryId: CatId
            };

            addFailMsg = "Error Occurred While Deleting.";
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/HR/DeleteNoticePeriod',
                data: { NPData: data },
                success: function (Data) {
                    //alert("Hi");
                    if (Data.saveStatus === "Deleted") {
                        //row.remove();
                        //location.reload();
                        $('#liNPRules').trigger('click');
                    }
                    else {
                        $("#divNoticePeriodInfoMsg").text(addFailMsg);
                        $("#divNoticePeriodInfoMsg").addClass("alert-danger");
                        $("#divNoticePeriodInfoMsg").removeClass("hidden alert-success");
                    }
                    var shcount = $("#tblNPGrid tbody tr").length;
                    if (shcount > 0) {
                        $("#divAdvGrid").removeClass('hidden');
                    }
                    else { $("#divAdvGrid").addClass('hidden'); }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#divLTESalAdvanceInfoMsg").text(addFailMsg);
                    $("#divLTESalAdvanceInfoMsg").addClass("alert-danger");
                    $("#divLTESalAdvanceInfoMsg").removeClass("hidden alert-success");
                }
            });
        });

    });
    function InitializeNpGrid() {
        npGrid = $('#tblNPGrid').DataTable({
            info: false,
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            pagingType: false,
            language: {
                "emptyTable": "No Leaves Found"
            },
            "createdRow": function (row, data, index) {

                //var oldcarryfwd = $.trim($('td:eq(1)', row).html());
                ////alert(oldstatus);
                //debugger;
                //if (oldcarryfwd === false) {
                //    $('td:eq(1)', row).html("No");

                //}
                //else { $('td:eq(1)', row).html("Yes"); }

            },
            pageLength: 10
        });
    }
</script>