@model EsselTestLocalApplication.Models.HR.EmployeeRegistration
<div class="row" id="divMainData">
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.JoiningType)
            @Html.DropDownListFor(model => model.JoiningType, new SelectList(Model.EmpJoiningTypeList, "EJoiningType", "EJoiningType"), htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddlNEmpjoinType", onchange = "NewEmpJoiningTypeChange()" })
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.Category)
            @Html.DropDownListFor(model => model.Category, new SelectList(Model.EmpCategoryList, "CategoryId", "CategoryName"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddlNEmpCategory" })
        </div>
    </div>
    <div class="col-md-3" id="divNewOldUser">
        <div class="form-group">
            @Html.LabelFor(model => model.OldEmpUsername)
            @Html.EditorFor(model => model.OldEmpUsername, new { htmlAttributes = new { @class = "form-control", @id = "txtOldEmpSearch", @onkeyup = "onchangeeventOldEmp();",

           @type = "search",
           @onpaste = "return false;" ,
           style = "text-transform:uppercase" } })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <br />
            <button class="btn btn1 btn-success" id="btnewEmpRejoin" onclick="GetEmpData()">View</button>
            <button class="btn btn1 btn-success" id="btnewnewEmpSReset" onclick="ResetStaffRegistration()">Reset</button>
        </div>
    </div>
</div>
<div id="divStffData">

</div>
<div class="col-md-12">
    <br />
    <div class="text-center">
        <div id="divAddNewEmpInfoMsg" class="alert alert-danger hidden">
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#divNewOldUser").addClass("hidden");
    });
    function NewEmpJoiningTypeChange() {
        let jtypeindex = $("#ddlNEmpjoinType select:option").index();
        let jtype = $("#ddlNEmpjoinType option:selected").val();
        if (jtypeindex === 0) {
            location.reload();
        }
        else if (jtype === "New") {
            $("#divNewOldUser").addClass("hidden");

        } else {
            $("#divNewOldUser").removeClass("hidden");

        }
        // addFailMsg = "Something Went Wrong";
        //$.ajax({
        //    type: 'POST',
        //    dataType: 'json',
        //    url: '/HR/SetEmployeeAction',
        //    data: { Action: EmpAction },
        //    success: function (Data) {
        //        //alert("Hi");
        //        if (Data.saveStatus === EmpAction) {
        //            alert(Data.saveStatus);
        //        }
        //        else {
        //            $("#divAddNewEmpInfoMsg").text(addFailMsg);
        //            $("#divAddNewEmpInfoMsg").addClass("alert-danger");
        //            $("#divAddNewEmpInfoMsg").removeClass("hidden alert-success");
        //        }
        //    },
        //    error: function (XMLHttpRequest, textStatus, errorThrown) {
        //        $("#divAddNewEmpInfoMsg").text(addFailMsg);
        //        $("#divAddNewEmpInfoMsg").addClass("alert-danger");
        //        $("#divAddNewEmpInfoMsg").removeClass("hidden alert-success");
        //    }
        //});
    }
    function GetEmpData() {       
        let jtypeindex = $("#ddlNEmpjoinType option:selected").index();
        let jtype = $("#ddlNEmpjoinType option:selected").val();
        let catIndex = $("#ddlNEmpCategory option:selected").index();
        let catId = $("#ddlNEmpCategory option:selected").val();
        if (jtypeindex == 0) {
            $("#divAddNewEmpInfoMsg").text("");
            $("#divAddNewEmpInfoMsg").append("<div>Select Joining Type</div>");
            $("#divAddNewEmpInfoMsg").addClass("alert-danger");
            $("#divAddNewEmpInfoMsg").removeClass("hidden alert-success");
            return false;
        }

        else if (catIndex === 0) {
            $("#divAddNewEmpInfoMsg").text("");
            $("#divAddNewEmpInfoMsg").append("<div>Select Employee Category</div>");
            $("#divAddNewEmpInfoMsg").addClass("alert-danger");
            $("#divAddNewEmpInfoMsg").removeClass("hidden alert-success");
            return false;
        }
        else {
            $("#ddlNEmpCategory").prop('disabled', true);
            $("#ddlNEmpjoinType").prop('disabled', true);
            if (jtype == "New") {
                $.ajax({
                    type: "POST",
                    url: "/HR/AddNewEmployee",
                    data: '{ EmpCategoryId:"' + catId + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'html',
                    success: function (data) {
                        $('#divStffData').html(data);
                        $("#divStffData").removeClass("hidden");
                    }
                });
            }
            else {
                if ($("#txtOldEmpSearch").val() === "") {
                    $("#divAddNewEmpInfoMsg").text("");
                    $("#divAddNewEmpInfoMsg").append("<div>Enter Employee Name/ID</div>");
                    $("#divAddNewEmpInfoMsg").addClass("alert-danger");
                    $("#divAddNewEmpInfoMsg").removeClass("hidden alert-success");
                    return false;
                }
                else {
                    $("#txtOldEmpSearch").prop('disabled', true);
                    var EmpNo = $("#txtOldEmpSearch").val();
                    $.get("/HR/UpdateStaffData?EmpRegno=" + EmpNo + "", null, function (data) {
                        $('#divStffData').html(data);
                        $("#divStffData").removeClass("hidden");
                    });
                }
            }

        }
    }
    function onchangeeventOldEmp() {
        var catindex = $("#ddlNEmpCategory option:selected").val();
        var cat = $("#ddlNEmpCategory option:selected").text();
        var previxvalue = $("#txtOldEmpSearch").val();
        if (catindex === 0) {
            $("#divAddNewEmpInfoMsg").text("");
            $("#divAddNewEmpInfoMsg").append("<div>Select Employee Category</div>");
            $("#divAddNewEmpInfoMsg").addClass("alert-danger");
            $("#divAddNewEmpInfoMsg").removeClass("hidden alert-success");
            return false;
        }
        else {
            if (previxvalue != "") {
                $("#divAddNewEmpInfoMsg").text("");
                $("#divAddNewEmpInfoMsg").addClass("hidden");
                $("#txtOldEmpSearch").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '/HR/GetOldEmpForRejoin',
                            data: '{prefix:"' + request.term + '", Category:"' + cat + '"}',
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return { label: item.FirstName, value: item.EmpRefNo };
                                }))
                            },
                            error: function (data) {
                                alert(data.responseText);
                            },
                            failure: function (data) {
                                alert(data.responseText);
                            }
                        });
                    },
                });
            }
        }
    }
    function ResetStaffRegistration() { location.reload(); }
</script>