@model List<EsselTestLocalApplication.Models.HR.LeaveApplication>
<div class="table-responsive w-100">
    <table id="tblApproveLeaveAppGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr>
                <th></th>
                <th class="hidden">LeaveId</th>
                <th class="">Employee Name</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Leave Type</th>
                <th>No of Days</th>
                <th class="hidden">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="details-control"></td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.lid)
                </td>
                <td class="">
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoofDays)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
            }
        </tbody>

        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>
<script>
    var openRows = new Array();
    $(document).ready(function () {
            var ApproveLeaveappGrid = null;
        InitializeApprLeaveGrid();
              var Sessioncreated = '@Session["Createdby"]';
            $("#txtApprLeaveappCreatedby").val(Sessioncreated);
            var SessionRole = '@Session["Roleid"]';
            $("#txtApprLeaveappRole").val(SessionRole);

    function InitializeApprLeaveGrid() {
        ApproveLeaveappGrid = $('#tblApproveLeaveAppGrid').DataTable({
            info: false,
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            pagingType: false,
                language: {
                    "emptyTable": "No Records Found"
                },
              "createdRow": function (row) {
                
            },
                pageLength: 10
            });
        $('#tblApproveLeaveAppGrid tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
            var row = ApproveLeaveappGrid.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    closeOpenedRows(ApproveLeaveappGrid, tr)
                    // Open this row
                    row.child(formatApprLeaveapp(row.data())).show();
                    tr.addClass('shown');
                    openRows.push(tr);
                }
            });
        }
    });
    function closeOpenedRows(table, selectedRow) {
        $.each(openRows, function (index, openRow) {
            // not the selected row!
            if ($.data(selectedRow) !== $.data(openRow)) {
                var rowToCollapse = table.row(openRow);
                rowToCollapse.child.hide();
                openRow.removeClass('shown');
                var index = $.inArray(selectedRow, openRows);
                openRows.splice(index, 1);
            }
        });
    }
    function formatApprLeaveapp(d) {
        var htmltext;
        var Leaveid, transstatus;
        $.each(d, function (index, value) {
            // Get value in alert
            if (index == 1)
                Leaveid = value;
            //if (index == 6)
            //    transstatus = value;
        });
        var divid = "divapprleave" + Leaveid;
        var divid1 = $("#" + divid + "");
        $("#currentBankTransferid").val(Leaveid);       
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/HR/VerifyLeaveApplicationView',
                data: { Lvid: Leaveid },
                success: function (Data) {
                    var divid2 = "divapprleave" + Leaveid;
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
       
        return '<div id="divapprleave' + Leaveid + '"></div>';
        }
</script>
