@model List<EsselTestLocalApplication.Models.AddSubClient>
@{
    ViewBag.Title = "VerifyCloseSubClient";
    Layout = "~/Views/Shared/EsselMaster.cshtml";
}

@Scripts.Render("~/bundles/datepicker/js")
@Styles.Render("~/bundles/datepicker/css")
@Scripts.Render("~/bundles/Accounts")
@Styles.Render("~/bundles/Accounts/css")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="table-responsive">
                    <table id="tblsubclientcloseGrid" style="width:100%" class="hover stripe nowrap example">
                        <thead>
                            <tr>
                                <th class="hidden">ID</th>
                                <th>Client Code</th>
                                <th>SubClient Code</th>
                                <th>SubClient Name</th>
                                <th>Nature Of Group</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>

                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.SubClientID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClientCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubClientCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Branch)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NatureGroupName)
                                </td>
                                <td>
                                    <button onClick="ViewSubClientCloseDetail('@item.SubClientCode')">View</button>
                                </td>
                            </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr></tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal fade" id="closesubclientConfirmation" role="dialog" data-backdrop="static" data-keyboard="false">

                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="modal fade" id="closesubclientConfirmationVerification" role="dialog" data-backdrop="static" data-keyboard="false">

</div>
<script src="~/Scripts/moment.js"></script>
<script>

    $(document).ready(function () {
        var SubClientGrid = null;
        InitializeSubClientGrid();

    });
    function InitializeSubClientGrid() {
        SubClientGrid = $('#tblsubclientcloseGrid').DataTable({
            destroy: true,
            paging: true,
            lengthChange: false,
            searching: false,
            language: {
                "emptyTable": "No Clients Found"
            },
            "createdRow": function (row, data, index) {
            },
            pageLength: 10
        });

    }
    function ViewSubClientCloseDetail(subclientid) {       
        $.ajax({
            type: "POST",
            url: "/Home/ViewCloseSubClient",
            data: '{SubClientCode:"' + subclientid + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: 'html',
            success: function (data) {
                $('#closesubclientConfirmationVerification').html(data);
                $('#closesubclientConfirmationVerification').modal();
                $("#divSClsoeClientInfoMsg").text("");
                $("#divSClsoeClientInfoMsg").addClass("hidden");
            }
        });
    }
</script>