@model List<EsselTestLocalApplication.Models.Accounts.AdvancePayment>
<div class="table-responsive col-md-12 col-sm-12">
    <table id="tblApproveAdvancePayGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr>
                <th></th>
                <th class="hidden">BankTransactionId</th>
                <th>Purchase Order Number</th>
                <th>Cost Center</th>
                <th>Invoice Total</th>
                <th>TransactionDate</th>
                <th class="hidden">Status</th>
                <th class="hidden">Refno</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="details-control"></td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.BankTransactionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PONo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CCCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvTotalValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionDate)
                    </td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.BankTransactionRefNo)
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
    
</div>
<script>
        var openRows = new Array();
        $(document).ready(function () {
            var ApproveAdvGrid = null;
            InitializeApprAdvGrid();
              var Sessioncreated = '@Session["Createdby"]';
            $("#txtAppAdvanceCreatedby").val(Sessioncreated);
            var Sessionroleid = '@Session["Roleid"]';
            $("#roleid").val(Sessionroleid);
        });
    function InitializeApprAdvGrid() {
        ApproveAdvGrid = $('#tblApproveAdvancePayGrid').DataTable({
                info: false,
                destroy: false,
                paging: false,
                lengthChange: false,
                searching: false,
                ordering: false,
                pagingType: false,  
                language: {
                    "emptyTable": "No Records Found"
                },
                "createdRow": function (row, data, index) {
                    //var bldate = $('td:eq(5)', row).html();
                    //var trimStr = $.trim(bldate);
                    //var typeArr = trimStr.split(' ');
                    //var d3 = typeArr[0];
                    //var t1 = "'" + d3 + "'";
                    //var bldate1 = moment(t1, "DDMMYYYY").format('DD-MMM-YYYY');
                    //$('td:eq(5)', row).html(bldate1);
                    var oldstatus = $('td:eq(6)', row).html();
                    if (oldstatus == 0) {
                        $('td:eq(6)', row).html("Return");
                    }
                    else {                      

                        $('td:eq(6)', row).html("Verification Pending");
                    }
                },
                pageLength: 10
            });
        $('#tblApproveAdvancePayGrid tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
            var row = ApproveAdvGrid.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // close all previously opened rows
                    closeOpenedRows(ApproveAdvGrid, tr);
                    // Open this row
                    row.child(formatApprInvoice(row.data())).show();
                    tr.addClass('shown');
                    // store current selection
                    openRows.push(tr);
                }
            });
    }
    function closeOpenedRows(table, selectedRow) {
        $.each(openRows, function (index, openRow) {
            // not the selected row!
            if ($.data(selectedRow) !== $.data(openRow)) {
                var rowToCollapse = table.row(openRow);
                rowToCollapse.child.hide();
                openRow.removeClass('shown');
                // replace icon to expand
                //$(openRow).find('td.details-control').html('<span class="glyphicon glyphicon-plus"></span>');
                // remove from list
                var index = $.inArray(selectedRow, openRows);
                openRows.splice(index, 1);
            }
        });
    }
    function formatApprInvoice(d) {
        var htmltext;
        var transid, transstatus, refno;       
            $.each(d, function (index, value) {
                if (index == 1)
                    transid = value;
                if (index == 6)
                    transstatus = value;
                if (index == 7)
                    refno = value;
            });      
        var divid = "divapprAdv" + transid;
        var divid1 = $("#" + divid + "");
        $("#currentAdvanceTransid").val(transid);
        $("#currentAdvanceTransno").val(refno);      
        if (transstatus == 0) {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/Accounts/ClientAdvancePayment',
                data: { Transactionid: transid },
                success: function (Data) {                    
                    var divid2 = "divapprAdv" + transid;
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);     
                
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {      
               
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/AccountsApproval/GetVerificationAdvancePaybyId',
                data: { TransactionId: transid },
                success: function (Data) {
                    var divid2 = "divapprAdv" + transid;
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);
                  
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
               
                }
            });
        }
         return '<div id="divapprAdv' + transid + '" class="col-md-12 verifydiv"><br/></div>';
        }
</script>