@model List<EsselTestLocalApplication.Models.Termloancreation>
<div class="table-responsive w-100">
    <table id="tblApprovetloanGrid" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr>
                <th></th>
                <th class="hidden">Id</th>
                <th>Date</th>
                <th>Loan No</th>
                <th>Agency Code</th>
                <th>Loan Type</th>
                <th class="hidden">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="details-control"></td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.Termloanid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Appdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AgencyNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanType)
                    </td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>
<script>
    var openRows = new Array();
    $(document).ready(function () {
        //debugger;
        var ApprovetlGrid = null;
            InitializeApprtlGrid();
              var Sessioncreated = '@Session["Createdby"]';
        $("#txtApprtlCreatedby").val(Sessioncreated);
            var SessionRole = '@Session["Roleid"]';
        $("#txtApprtlRole").val(SessionRole);
        });
    function InitializeApprtlGrid() {       
        ApprovetlGrid = $('#tblApprovetloanGrid').DataTable({
            info: false,
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            pagingType: false,  
                language: {
                    "emptyTable": "No Records Found"
                },
            "createdRow": function (row) {
               
            },
                pageLength: 10
            });
        $('#tblApprovetloanGrid tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
            var row = ApprovetlGrid.row(tr);
                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    closeOpenedRows(ApprovetlGrid, tr);
                // Open this row
                    row.child(formatApprtl(row.data())).show();
                    tr.addClass('shown');
                    openRows.push(tr);
                }
            });
    }
    function closeOpenedRows(table, selectedRow) {        
        $.each(openRows, function (index, openRow) {
            // not the selected row!
            if ($.data(selectedRow) !== $.data(openRow)) {
                var rowToCollapse = table.row(openRow);
                rowToCollapse.child.hide();
                openRow.removeClass('shown');
                var index = $.inArray(selectedRow, openRows);
                openRows.splice(index, 1);
            }
        });
    }

    function formatApprtl(d) {
        //debugger;
        var htmltext;
        var Rid, transstatus;;
        $.each(d, function (index, value) {
            if (index == 1)
                Rid = value;
            if (index == 6)
                transstatus = value;
        });
        var divid = "divapprtlc" + Rid;
        var divid1 = $("#" + divid + "");
        $("#currentloanid").val(Rid);
        if (transstatus == 0) {   
                $.ajax({
                    type: 'POST',
                    dataType: 'html',
                    url: '/AccountsApproval/UpdateTermLoanView',
                    data: { Rowid: Rid },
                    success: function (Data) {
                        var divid2 = "divapprtlc" + Rid;
                        var divid3 = $("#" + divid2 + "");
                        $(divid3).html(Data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("error");
                    }
                });           
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/AccountsApproval/VerifyTermLoanView',
                data: { Rowid: Rid },
                success: function (Data) {                  
                    var divid2 = "divapprtlc" + Rid;
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {                   
                    alert("error");
                }
            });
        }
        return '<div id="divapprtlc' + Rid + '"></div>';
    }
</script>
