
@model List<EsselTestLocalApplication.Models.Accounts.UnSecuredLoan>
<div class="table-responsive">
    <table id="tblApproveUloanGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr>
                <th></th>
                <th class="hidden">BankTransactionRefNo</th>
                <th>Loan Number</th>
                <th>Name</th>
                <th>Loan Amount</th>
                <th  class="hidden">Status</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="details-control"></td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.BankTransactionRefNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanAmount)
                    </td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>

<script>
       var openRows = new Array();
    $(document).ready(function () {

            var ApproveULoanGrid = null;
            InitializeApprULoanGrid();
              var Sessioncreated = '@Session["Createdby"]';
        $("#txtAppUnlCreatedby").val(Sessioncreated);
            var Sessionroleid = '@Session["Roleid"]';
            $("#roleid").val(Sessionroleid);
          //  alert($("#roleid").val() + "-"+Sessionroleid);
        });
    function InitializeApprULoanGrid() {
        ApproveULoanGrid = $('#tblApproveUloanGrid').DataTable({
                destroy: true,
                paging: true,
                lengthChange: false,
                searching: false,
                language: {
                    "emptyTable": "No Records Found"
                },
            "createdRow": function (row, data, index) {
                    //var bldate = $('td:eq(3)', row).html();
                    //var trimStr = $.trim(bldate);
                    //var typeArr = trimStr.split(' ');
                    //var d3 = typeArr[0];
                    //var t1 = "'" + d3 + "'";
                    //var bldate1 = moment(t1, "DDMMYYYY").format('DD-MMM-YYYY');
                    //$('td:eq(3)', row).html(bldate1);
                    var oldstatus = $('td:eq(5)', row).html();
                    if (oldstatus == 0) {
                        $('td:eq(5)', row).html("Return");
                    }
                    else { $('td:eq(5)', row).html("Verification Pending");}
                },
                pageLength: 10
            });
        $('#tblApproveUloanGrid tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
            var row = ApproveULoanGrid.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // close all previously opened rows
                    closeOpenedRows(ApproveULoanGrid, tr);
                    // Open this row
                    row.child(formatHoldPay(row.data())).show();
                    tr.addClass('shown');
                    // store current selection
                    openRows.push(tr);
                }
            });
    }
    function closeOpenedRows(table, selectedRow) {
        $.each(openRows, function (index, openRow) {
            // not the selected row!
            if ($.data(selectedRow) !== $.data(openRow)) {
                var rowToCollapse = table.row(openRow);
                rowToCollapse.child.hide();
                openRow.removeClass('shown');
                // replace icon to expand
                //$(openRow).find('td.details-control').html('<span class="glyphicon glyphicon-plus"></span>');
                // remove from list
                var index = $.inArray(selectedRow, openRows);
                openRows.splice(index, 1);
            }
        });
    }
    function formatHoldPay(d) {
        var htmltext;
        var transstatus, refno, type1;
        $.each(d, function (index, value) {
            if (index == 1)
                refno = value;
                if (index == 5)
                    transstatus = value;

                if (index == 6)
                    type1 = value;
            });
        var divid = "divappruloan" + refno;
        var divid1 = $("#" + divid + "");
        $("#currentUnlTransno").val(refno);

        if (transstatus == 0) {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/AccountsApproval/VerifyNewLoanView',
                data: { TransRefno: refno, Type: type1 },
                success: function (Data) {
                    var divid2 = "divappruloan" + refno;
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
        }
        else{

            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/AccountsApproval/VerifyNewLoanView',
                data: { TransRefno: refno, Type: type1 },
                success: function (Data) {
                    var divid2 = "divappruloan" + refno;
                    var divid3 = $("#" + divid2 + "");
                    $(divid3).html(Data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
        }
        return '<div id="divappruloan' + refno + '" class="col-md-12"></div>';
        }
</script>