@model EsselTestLocalApplication.Models.Budget.AmendDCABudget
    @{ 
    ViewBag.Title = "AmendDCABudget";
    //Layout = "~/Views/Shared/EsselMaster.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row" id="divBudgetAssignedDCAGrid">
            <div class="col-md-3">
                <div class="form-group">

                    <label>Cost Center Type</label>
                    @Html.DropDownListFor(model => model.cc_Type, new SelectList(Model.CCTypesList, "CCTypeID", "CCTypeDescription"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddlAmendDCABudgetCCTypes", onchange = "AmendDCABudgetCCTypesChange()" })
                 
                </div>
            </div>
            <div class="col-md-3" id="divAmendDCAYear">
                <div class="form-group">
                    <label>Year</label>
                    @Html.DropDownListFor(model => model.FYYear, new SelectList(Model.FnyearsList, "Year", "YearValue"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddlAmendDCAYear", onchange = "AmendDCABudgetYearChange()" })
                </div>
            </div>
            <div class="col-md-3" id="divAmendDCASubType">
                <div class="form-group">
                    @Html.LabelFor(model => model.SubType)
                    @Html.DropDownListFor(model => model.SubType, new SelectList(Model.SubTypesList, "CC_SubType", "CC_SubType"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddlAmendDCASubType", onchange = "AmendDCABudgetSubTypeChange()" })
                </div>
            </div>
            <div id="divAmendBudgetCC">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CCCode)
                        <select class="form-control dropdown-toggle" id="ddlAmendBudgetCC">
                            <option selected="selected" value="Select">-Select-</option>
                        </select>
                        @*onchange="DCAmendCcCodeChange()"*@

                        <input type="text" value="0" id="txtOldCCBudgetForAmendDCA" style="display:none" />
                        <input type="text" value="0" id="txtOldCCBalanceForAmendDCA" style="display:none" />
                        <input type="text" value="0" id="txtCalCCBudgetForAmendDCA" style="display:none" />
                        <input type="text" value="0" id="txtCalCCBudgetForAmendDCA" style="display:none" />
                        <input type="text" value="0" id="txtBudgetIDForAmendDCA" style="display:none" />
                        <input type="text" value="0" id="txtDCAAmendCCName" style="display:none" />
                        <input type="text" value="0" id="txtTempOldCCBudgetForAmendDCA" style="display:none" />
                        <input type="text" value="0" id="txtTempOldCCBalanceForAmendDCA" style="display:none" />
                    </div>
                </div>
                <div class="col-md-3">
                    <br />
                    <input type="submit" value="View" class="btn btn1 btn-success" id="btnAmendDCADetials" onclick="ShowAmendDCAGrid()" />
                    <button class="btn btn1 btn-success" id="btnMultipleAmendReset" onclick="ResetMultipleAmendData()">Reset</button>
                </div>
            </div>
        </div>
        <div id="divDCADetails">

        </div>
        <div class="row" id="divNewDCABudgetfromAmend">
            <input type="submit" value="New DCA Amend" class="btn btn1 btn-success" id="btnAddnewAmendDCA" onclick="ShowNewAmendDCAModel()" />
        </div>
        <div class="row" id="divAmendDetails">
            <div class="strike">
                <span>Amend DCA</span>
            </div>
            <div class="tabledynamic">
                <table id="tbDcaAmendDetails" class="table order-list dcaAmend" style="width:100%">
                    <thead>
                        <tr>
                            <td style="text-align:center;font-weight:bold;color:#fff !important">No</td>
                            <td style="text-align:center;font-weight:bold;color:#fff !important">Check</td>
                            <td style="text-align:center;font-weight:bold;color:#fff !important">Account Head Code</td>
                            <td style="text-align:left;font-weight:bold;word-wrap: break-word; word-break: break-all; white-space: normal;color:#fff !important">Account Head Name</td>
                            <td style="text-align:center;font-weight:bold;color:#fff !important">Amount</td>
                            <td style="text-align:center;font-weight:bold;color:#fff !important">Action</td>
                            <td style="text-align:center;font-weight:bold;color:#fff !important"></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>

            <div class="row">
                <div class="text-right">
                    <button class="btn btn1 btn-success" id="btnMultipleAmendDCASubmit" onclick="SubmitMultipleAmendDCAData()">Submit</button>

                    <input type="hidden" id="txtamendcctype" />
                    <input type="hidden" id="txtdone" />
                </div>
            </div>


        </div>

        <div class="col-md-12">
            <div class="text-center">
                <div id="divMultipleAmendDCAIfoMsg" class="alert alert-danger hidden">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        $("#divAmendDCAYear").addClass('hidden');
        $("#divAmendDCASubType").addClass('hidden');
        $("#divAmenddcagridbtn").addClass('hidden');
        $("#divAmendBudgetCC").addClass('hidden');
        $("#divDCADetails").addClass('hidden'); 
        $("#divNewDCABudgetfromAmend").addClass('hidden');

        $("#NewDCAAmendModal").on("hidden.bs.modal", function () {
            RebindBudgetDCAGrid();
        });
    });
</script>

