@model List<EsselTestLocalApplication.Models.Budget.DCABudgetDetails>
<div id="divDCABudgetDetails">
    <div  class="table-responsive">
        <table id="tblDcaBudgetDetails" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
            <thead>
                <tr>
                    <th  class="hidden">DCABudget Id</th>
                    <th  class="hidden">CC Code</th>
                    <th  class="hidden">Account Head Code</th>
                    <th>Account Head Name</th>
                    <th>Budget Created Date</th>
                    <th>Assigned Budget</th>
                    <th>Account Head Balance</th>
                    <th>Amend</th>
                    <th  class="hidden">Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td  class="hidden">
                        @Html.DisplayFor(modelItem => item.DCABudgetId)
                    </td>
                    <td  class="hidden">
                        @Html.DisplayFor(modelItem => item.CCCode)
                    </td>
                    <td  class="hidden">
                        @Html.DisplayFor(modelItem => item.DCACode)
                    </td>
                    <td  style="word-wrap: break-word; word-break: break-all; white-space: normal;">
                        @Html.DisplayFor(modelItem => item.DCACode),@Html.DisplayFor(modelItem => item.DCAName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DCABudgetCreationdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DCABudgetValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DCABudgetBalance)
                    </td>

                    <td>
                       @if (item.AmendStatus == "Approved")
                       {
                        <a title="AmendBudget" href="javascript:void(0)" data-toggle="modal" onclick="AmendDCABudget(@item.DCABudgetId,'@item.DCACode', '@item.CCCode', @item.DCABudgetValue, @item.DCABudgetBalance, '@item.DCABudgetCreationdate','@item.cc_Type','@item.DCAName','@item.CCName','@item.FYyear');">Amend</a>
                        @*<a title="CloseBudget" href="javascript:void(0)" data-toggle="modal" onclick="CloseDCABudget(@item.DCABudgetId,'@item.DCACode', '@item.CCCode', @item.DCABudgetValue, @item.DCABudgetBalance, '@item.DCABudgetCreationdate');">Close</a>*@
                        @*<input type="button" data-toggle="modal" value="Amend" onclick="AmendDCABudget(@item.DCABudgetId, '@item.DCACode', '@item.DCABudgetValue', @item.DCABudgetBalance, '@item.DCABudgetCreationdate');" />*@
                       }
                    </td>
                    <td  class="hidden">
                        @Html.DisplayFor(modelItem => item.cc_Type)
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td ></td>
                    <td></td>
                    <td></td>
                    @*<td></td>*@
                </tr>
            </tfoot>
        </table>
    </div>
    
</div>



<script type="text/javascript">
    $(document).ready(function () {
        var dcaGrid = null;
        //$("#divAmendDetails").addClass("hidden");
        InitializeDCADetailsGrid();
        $("#txtdone").val('0');

        $("#DCAAmendModal").on("hidden.bs.modal", function () {
            RebindBudgetDCAGrid();
        });
        $("#NewDCAAmend").on("hidden.bs.modal", function () {
            RebindBudgetDCAGrid();
        });
        

    });

    
    function InitializeDCADetailsGrid() {
        dcaGrid = $('#tblDcaBudgetDetails').DataTable({
            info: false,
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            pagingType: false,  
            language: {
                "emptyTable": "No DCAs Found"
            },
            pageLength: 10,
            "initComplete": function (settings, json) {
                GetBudgetAsignedCCDetails();
                //alert('DataTables has finished its initialisation.');
                //RebindBudgetDCAGrid();
            }
        });

    }

    function BindCCDetailsToGrid() { }
   
</script>
