@model EsselTestLocalApplication.Models.Accounts.Refund
@{
    Layout = "~/Views/Shared/EsselMaster.cshtml";
}
@Scripts.Render("~/bundles/datepicker/js")
@Styles.Render("~/bundles/datepicker/css")
@Scripts.Render("~/bundles/Accounts")
@Styles.Render("~/bundles/Accounts/css")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 style="text-align:left;font-weight:bold">Bank Refund</h4>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <!-- Example Tabs Left-->
                            <div class="card-inner">
                                <div class="col-md-12">
                                    <div class="row">
                                        <form onsubmit="return false">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Date)
                                                        @Html.TextBoxFor(model => model.Date, "{0:dd-MMM-yyyy}", new { @id = "txtRefundDate", @class = "form-control  date-picker", @readonly = "true", @type = "text" })

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.paymentcategory)
                                                        @Html.DropDownListFor(model => model.paymentcategory, new SelectList(Model.RefundTransactionType, "PaymentCatId", "PaymentCatName"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddlpaymentcategory", onchange = "Refpaymentcategorychange()" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3" id="divtype">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.RefundType)
                                                        @Html.DropDownListFor(model => model.RefundType, new SelectList(Model.RefundTypes, "Type_Id", "Type_Name"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddltype" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-md-12" id="divpricniple">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Refund_CC_Code)
                                                            @Html.DropDownListFor(model => model.Refund_CC_Code, new SelectList(Model.RefundCcCodesList, "CC_Id", "CC_Code"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddl_Refundcccode", onchange = "GetRefDca()" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Refund_DCA_Code)
                                                            @Html.DropDownListFor(model => model.Refund_DCA_Code, new SelectList(Model.RefundDcaCodesList, "DCACode", "DCAIDSTR"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddl_RefDCACode", onchange = "GetRefSDca()" })

                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Refund_Sub_DCA_Code)
                                                            @Html.DropDownListFor(model => model.Refund_Sub_DCA_Code, new SelectList(Model.RefundSdcaCodesList, "SubDCACode", "SubDCAIDSTR"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddl_RefSubDcaCode" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Amount)
                                                            @Html.TextBoxFor(model => model.Amount, new { @id = "txtPrincipleAmount", @class = "form-control", @type = "text", Value = "", onkeypress = "return ValidateAmount(this,event);", onKeyup = "CountRefTotal()" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 change-tab" id="divIntrestTables">
                                                    <div class="strike">
                                                        <span>Add Intrest</span>
                                                    </div>
                                                    <div class="tabledynamic">
                                                        <br />
                                                        <table id="IntrestTables" class="table order-list" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <td style="text-align:center">@Html.LabelFor(model => model.Refund_CC_Code)</td>
                                                                    <td style="text-align:center">@Html.LabelFor(model => model.Refund_DCA_Code)</td>
                                                                    <td style="text-align:center">@Html.LabelFor(model => model.Refund_Sub_DCA_Code)</td>
                                                                    <td style="text-align:center">@Html.LabelFor(model => model.Amount)</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="text-align:center">
                                                                    <td>
                                                                        @Html.DropDownListFor(model => model.Refund_CC_Code, new SelectList(Model.RefundCcCodesList, "CC_Id", "CC_Code"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddl_RefintrestCCCode", onchange = "GetRefDedDca()" })
                                                                    </td>
                                                                    <td>
                                                                        @Html.DropDownListFor(model => model.Refund_DCA_Code, new SelectList(Model.RefundDcaCodesList, "DCACode", "DCAIDSTR"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddl_RefintrestDCACode", onchange = "GetRefDedSDca()" })
                                                                    </td>

                                                                    <td>
                                                                        @Html.DropDownListFor(model => model.Refund_Sub_DCA_Code, new SelectList(Model.RefundSdcaCodesList, "SubDCACode", "SubDCAIDSTR"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddl_RefintrestSDCACode" })
                                                                    </td>
                                                                    <td>
                                                                        @Html.TextBoxFor(model => model.Amount, new { @id = "txRefundIntrestAmount", @class = "form-control", @type = "text", Value = "", onkeypress = "return ValidateAmount(this,event);", onKeyup = "CountRefTotal()" })
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 change-tab">
                                                    <div class="col-md-12" style="text-align:left;margin-bottom:0px;">
                                                        <h5 style="font-weight:bold;">Payment Details</h5>
                                                        <hr style="margin-top:0%;margin-bottom:0%" />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Refund_Name)
                                                                @Html.TextBoxFor(model => model.Refund_Name, htmlAttributes: new { @class = "form-control", @id = "txtRefundName" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Bank)
                                                                @Html.DropDownListFor(model => model.Bank, new SelectList(Model.RefundBanksList, "Bank_Id", "Bank_Name"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddl_RefBank" })

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Mode_of_Pay)
                                                                @Html.DropDownListFor(model => model.Mode_of_Pay, new SelectList(Model.RefundPayModeList, "Mode", "Mode_Desc"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddl_RefPayMode" })

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Refund_No)
                                                                @Html.TextBoxFor(model => model.Refund_No, htmlAttributes: new { @class = "form-control", @id = "txtrefundNo" })

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Remarks)
                                                                @Html.TextAreaFor(model => model.Remarks, new { @id = "txtRefundRemarks", @class = "form-control", @type = "text" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Refpayment_Date)
                                                                @Html.TextBoxFor(model => model.Refpayment_Date, new { @id = "txtRefPayDate", @class = "form-control date-picker", @type = "text" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Refund_final_Amount)
                                                                @Html.TextBoxFor(model => model.Refund_final_Amount, new { @id = "txtRefFinalAmount", @class = "form-control", @type = "text", Value = "0", @readOnly = "true" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="text-right">
                                                            <input type="text" value="0" id="txtCreatedby" style="display:none" />
                                                            <input type="text" value="0" id="txtRefundRoleId" style="display:none" />
                                                            <button class="btn btn1 btn-success" id="btnRefSubmit" onclick="btnSubmitRefundData()">Submit</button>
                                                            <button class="btn btn1 btn-success" id="btnRefReset" onclick="btnResetRefundData()">Reset</button>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="text-center">
                                                            <div id="divRefInfoMsg" class="alert alert-danger hidden">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="Refajax-container"></div>
                                        </form>
                                    </div>
                                    <div id="RefundIntrestConfirmModel" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="icon-box">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div id="confirmms1"> <h4 class="modal-title">Intrest is Required or Not?</h4></div>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="confirmmsg">
                                                        @*<p>Do you really want to delete Cost Center: </p><label id="lbldelCCCode"></label>
                                                            <p>This process cannot be undone.</p>*@
                                                    </div>
                                                    @*<div id="divDeleteCostCenterInfoMsg" class="alert alert-danger hidden">
                                                        </div>*@
                                                </div>
                                                <div class="modal-footer">
                                                    <div id="confirmbtn">
                                                        <button type="button" class="btn btn-info" onclick="ContinueSubmitRefData()">Cancel</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="CancelSubmitRefData()">ok</button>
                                                        @Html.TextBoxFor(m => m.Refund_CC_Code, new { style = "display: none;", @id = "txtclickcheckref" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
          var RoleID = '@Session["Roleid"]';
        $("#txtRefundRoleId").val(RoleID);
        $("#txtRefundDate").datepicker({
            dateFormat: 'dd-M-yy',
            changeMonth: true,
            changeYear: true,
            showOn: "button",
            maxDate: 'dateToday',
            buttonText: "<i class ='glyphicon glyphicon-calendar'></i>",
            onClose: function (selectedDate) {
                $("#txtRefPayDate").datepicker("option", "minDate", selectedDate);
            },
        }).datepicker("setDate", "");
        $("#txtRefPayDate").datepicker({
            dateFormat: 'dd-M-yy',
            changeMonth: true,
            changeYear: true,
            showOn: "button",
            maxDate: 'dateToday',
            buttonText: "<i class ='glyphicon glyphicon-calendar'></i>"

        }).datepicker("setDate", "");
    });
</script>