
@model EsselTestLocalApplication.Models.Accounts.Withdrawal
@{
    Layout = "~/Views/Shared/EsselMaster.cshtml";
}
@Scripts.Render("~/bundles/datepicker/js")
@Styles.Render("~/bundles/datepicker/css")
@Scripts.Render("~/bundles/Accounts")
@Styles.Render("~/bundles/Accounts/css")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 style="text-align:left;font-weight:bold">
                        Cash Withdrawals
                    </h4>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <!-- Example Tabs Left-->
                            <div class="card-inner">
                                <div class="col-md-12">
                                    <div class="row">
                                        <form onsubmit="return false">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Name)
                                                        @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @id = "txtWdName" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <hr style="margin-top:0px;margin-bottom:2px" />
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.From)
                                                        @Html.DropDownListFor(model => model.From, new SelectList(Model.WdBanksList, "Bank_Id", "Bank_Name"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddl_WdFrom", onchange = "WithdrawPayModeChange()" })

                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Mode_of_Pay)
                                                        @Html.DropDownListFor(model => model.Mode_of_Pay, new SelectList(Model.WdPayModeList, "Mode", "Mode_Desc"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddl_WdPayNode", onchange = "WithdrawPayModeChange()" })

                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.No)
                                                        @Html.TextBoxFor(model => model.No, htmlAttributes: new { @class = "form-control", @id = "txtWdNo" })
                                                        @Html.DropDownListFor(model => model.Chequeid, new SelectList(Model.WdChequesList, "Cheque_Id", "Cheque_No"), "-Please Select-", htmlAttributes: new { @class = "form-control dropdown-toggle", @id = "ddl_Wdchequenos" })

                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Date)
                                                        @Html.TextBoxFor(model => model.Date, "{0:dd-MMM-yyyy}", new { @id = "txtWdDate", @class = "form-control  date-picker", @readonly = "true" })

                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Remarks)
                                                        @Html.TextAreaFor(model => model.Remarks, new { @id = "txtWdRemarks", @class = "form-control", @rows = "3" })

                                                    </div>
                                                </div>


                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Amount)
                                                        @Html.TextBoxFor(model => model.Amount, new { @id = "txtWdAmount", @class = "form-control", onkeypress = "return ValidateAmount(this,event);" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="text-right">
                                                    <input type="text" value="0" id="txtWDRoleId" style="display:none" />
                                                    <button class="btn btn1 btn-success" id="btnWdSubmit" onclick="btnSubmitWithDrawalData()">Submit</button>
                                                    <button class="btn btn1 btn-success" id="btnWdReset" onclick="btnResetWithDrawalData()">Reset</button>
                                                    @*<button class="btn btn1 btn-success" id="btndSubmit" onclick="btnWithDrawalData()">CheckSubmit</button>*@

                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="text-center">
                                                    <div id="divWithdrawalInfoMsg" class="alert alert-danger hidden">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal fade" id="Withdrawprint" role="dialog" data-backdrop="static" data-keyboard="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var RoleID = '@Session["Roleid"]';
        $("#txtWDRoleId").val(RoleID);
        $("#txtWdDate").datepicker({
            dateFormat: 'dd-M-yy',
            changeMonth: true,
            changeYear: true,
            showOn: "button",
            maxDate: 'dateToday',
            buttonText: "<i class ='glyphicon glyphicon-calendar'></i>",

        }).datepicker("setDate", new Date());

    });
    function btnWithDrawalData() {
        var tranno = '7714651018';
        $.ajax({
            type: "POST",
            url: "/Accounts/ViewPrintWithdraw",
            data: '{Refno:"' + tranno+'"}',
            contentType: "application/json; charset=utf-8",
            dataType: 'html',
            success: function (data) {
                $('#Withdrawprint').html(data);
                $('#Withdrawprint').modal();
            }
        });
    }

</script>
